In [3]:
import pandas as pd
import sklearn
from sklearn.decomposition import TruncatedSVD
from sklearn.preprocessing import MinMaxScaler
import numpy as np
import warnings
warnings.filterwarnings("ignore")

In [35]:
# 80000row
user_train = pd.read_csv('ml-100k_GRS/u1.base', sep='\t',names=["userID","itemID","rating","timestamp"],header=None, na_filter=False)
user_train = user_train[['userID','itemID','rating']]

## u1.base 각 유저가 각 아이템에 준 각 별점


# 100000row
user_total = pd.read_csv('ml-100k_GRS/u.data', sep='\t',names=["userID","itemID","rating","timestamp"],header=None, na_filter=False)
user_total = user_total[['userID','itemID','rating']]

# 20000row
user_test = pd.read_csv('ml-100k_GRS/u1.test', sep='\t',names=["userID","itemID","rating","timestamp"],header=None, na_filter=False)
user_test = user_test[['userID','itemID','rating']]


## 943명이 1682개를 1~5로 평균냄

In [36]:
user_total

       userID  itemID  rating
0         196     242       3
1         186     302       3
2          22     377       1
3         244      51       2
4         166     346       1
...       ...     ...     ...
99995     880     476       3
99996     716     204       5
99997     276    1090       1
99998      13     225       2
99999      12     203       3

[100000 rows x 3 columns]

In [29]:

# 0 ~ 1사이의 범위로 평점 데이터를 표준화 min:1 max:5
'''
min_max_scaler = MinMaxScaler()

x_scaled = min_max_scaler.fit_transform(user_train[['rating']])
user_train[['rating']] = x_scaled

x_scaled = min_max_scaler.fit_transform(user_total[['rating']])
user_total[['rating']] = x_scaled

x_scaled = min_max_scaler.fit_transform(user_test [['rating']])
user_test [['rating']] = x_scaled
'''

In [30]:
#user_total
# 0, 25, 50, 75, 1, 의 값으로 변환된다.

       userID  itemID  rating
0         196     242    0.50
1         186     302    0.50
2          22     377    0.00
3         244      51    0.25
4         166     346    0.00
...       ...     ...     ...
99995     880     476    0.50
99996     716     204    1.00
99997     276    1090    0.00
99998      13     225    0.25
99999      12     203    0.50

[100000 rows x 3 columns]

In [37]:
user_item_total = user_total.pivot_table('rating', index = 'userID',columns = 'itemID').fillna(0) # fillna 를 하지 않을 경우 NaN 값 들어감
user_item_train = user_train.pivot_table('rating', index = 'userID',columns = 'itemID').fillna(0)
user_item_test = user_test.pivot_table('rating', index = 'userID',columns = 'itemID').fillna(0)

In [38]:
user_item_total

itemID,1,2,3,4,5,6,7,8,9,10,...,1673,1674,1675,1676,1677,1678,1679,1680,1681,1682
userID,,,,,,,,,,,,,,,,,,,,,
1,5.0,3.0,4.0,3.0,3.0,5.0,4.0,1.0,5.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,4.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
940,0.0,0.0,0.0,2.0,0.0,0.0,4.0,5.0,3.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
941,5.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
942,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
943,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

각 유저가 각 아이템들에 대해 어떻게 평점을 주었는지를 한 눈에 볼 수 있다.

In [20]:
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from itertools import cycle
import matplotlib.pyplot as plt
import numpy as np
from sklearn.metrics import ndcg_score

#cluster용 dataset
SVD = TruncatedSVD(n_components=2) # 상위 n개의 특잇값을 추출해 n차원으로 생성 / 지금은 2차원

SVD 로 보지 않은 영화 평점을 예측하는 방법 : https://walwalgabu.tistory.com/entry/1-Numpy%EB%A7%8C-%EC%9D%B4%EC%9A%A9%ED%95%98%EC%97%AC-SVD-%EC%B6%94%EC%B2%9C%EC%8B%9C%EC%8A%A4%ED%85%9C%EC%9D%84-%EA%B0%84%EB%8B%A8%ED%9E%88-%EC%8B%A4%ED%97%98%ED%95%B4%EB%B3%B4%EC%9E%90Truncated-SVD  

특히 truncated SVD 는 그 SVD 를 통해 일궈낸 특이값들 중 상위 N 개만을 추출한 것을 의미한다.

In [34]:
full_rank_item_total = SVD.fit_transform(user_item_total)
full_rank_item_total = pd.DataFrame(full_rank_item_total)
full_rank_item_total

             0          1
0    42.156451   1.462856
1     8.982352 -11.415710
2     3.624693  -6.272333
3     3.839383  -5.067712
4    20.979029   2.242444
..         ...        ...
938   7.227809 -10.082025
939  19.223048  -2.063405
940   4.769211  -6.126077
941  15.395186   1.982231
942  27.061704  -2.675282

[943 rows x 2 columns]

truncated SVD 로 두 개의 component(특잇값) 을 추출
이를 가지고 내적을 통해 다시 원래의 값을 반환

In [45]:
km = KMeans(n_clusters=5, init='k-means++')
cluster = km.fit(user_item_total)

cluster_id = pd.DataFrame(cluster.labels_)
cluster_id

     0
0    1
1    0
2    4
3    4
4    3
..  ..
938  0
939  3
940  4
941  3
942  1

[943 rows x 1 columns]

In [46]:
cluster_id.index

RangeIndex(start=0, stop=943, step=1)

In [49]:
cluster_id.index = user_item_total.index
cluster_id

        0
userID
1       1
2       0
3       4
4       4
5       3
...    ..
939     0
940     3
941     4
942     3
943     1

[943 rows x 1 columns]

## NDCG

In [53]:
def groupRS_ndcg(num, total_matrix, train_matrix):
    total_matrix  # user_item_total 
    train_matrix  # user_item_train
    test_matrix = user_item_test #user_item_test
    
    
    ## 1. K-means로 그룹 clustering(total 대상) #아직 SVD 로 평점을 예측하지 않은 상태

    km = KMeans(n_clusters=num, init='k-means++')
    cluster = km.fit(total_matrix)
    cluster_id = pd.DataFrame(cluster.labels_) # 모든  user의 클러스터 n 이 표시됨

    cluster_id.index = total_matrix.index # userId 칼럼을 인덱스로 설정 1~943
    cluster_id.rename(columns = {0 : 'cluster'}, inplace = True) # 모든  user의 클러스터
    
    length = [0]*num
    for i in range(num):
        length[i] = len(cluster_id[cluster_id.cluster==i]) # 각 클러스터에 해당하는 개수
    
    print("각 cluster 별 user 회원 수 : ", length)

    # 2. train, test 에 cluster 정보 추가
    user_item_train_cl = pd.concat([train_matrix, cluster_id], axis=1, join='inner')
    user_item_test_cl = pd.concat([test_matrix, cluster_id], axis=1, join='inner')
    






    ## 3. (train 대상) 클러스터 별로 각 item의 mean 값 구함 
    mean_rating = pd.DataFrame(columns = user_item_train_cl.columns)
    mean_rating.set_index('cluster') # cluster 를 인덱스로 설정하고 이걸 기준으로 각 아이템 당 모든 유저의 별점 평균 구할 예정
    
    
    for i in range(num):
        mean_rating = mean_rating.append(user_item_train_cl[user_item_train_cl.cluster == i].mean(axis=0), ignore_index=True) # 각 클러스터별 평균 계산해서 추가
    
    mean_rating = mean_rating.set_index('cluster')
    mean_rating
    
    #print(mean_rating)


    ## 3. train-test set의 columns(item id) 맞추기 (miss matching 제거)
    for c in user_item_train_cl.columns:
        if c not in user_item_test_cl.columns:
            del mean_rating[c]
        
    for c in user_item_test_cl.columns:
        if c not in user_item_train_cl.columns:
            del user_item_test_cl[c]
            
    y_pred = mean_rating 
    y_true = user_item_test_cl
    
    
    result = [0]*num # 결과값 저장 리스트
    



    
    ## 4. 각 결과 값에 nDCG 더해줌
    for idx in test_matrix.index:
        cluster_num = int(y_true.loc[idx].cluster)
        result[cluster_num] += ndcg_score([y_true.loc[idx][:-1]], [y_pred.loc[cluster_num]])
        #result[cluster] += ndcg_score([user_item_test_cl.loc[idx][:-1]], [mean_rating.loc[cluster]], k=4)
    
    
    ## 5. 최종적으로 각 nDCG값 / 각 cluster의 요소 개수
    for i in range(num):
        result[i] = result[i]/length[i]
    
    print("cluster수:",len(length),"/ NDCG:",sum(result)/len(length))  
    print('%.5f'%(sum(result)/(len(length))))

In [54]:
import pandas as pd
from sklearn import preprocessing
from sklearn.preprocessing import MinMaxScaler

cluster_num = range(2,51)
#cluster_num=[2]

for i in cluster_num:
    #reduced_total = SVD.fit_transform(user_item_total)
    #reduced_total = pd.DataFrame(reduced_total)
    #reduced_total.index = total_user_idx
    
    #user_item_train = pd.DataFrame(user_item_train)
    
    groupRS_ndcg(i, user_item_total, user_item_train)

각 cluster 별 user 회원 수 :  [644, 299]
cluster수: 2 / NDCG: 0.2687740005034088
0.26877
각 cluster 별 user 회원 수 :  [268, 545, 130]
cluster수: 3 / NDCG: 0.2915053221641824
0.29151
각 cluster 별 user 회원 수 :  [97, 539, 63, 244]
cluster수: 4 / NDCG: 0.3089775354579192
0.30898
각 cluster 별 user 회원 수 :  [230, 96, 167, 387, 63]
cluster수: 5 / NDCG: 0.29553927902061605
0.29554
각 cluster 별 user 회원 수 :  [171, 367, 51, 142, 163, 49]
cluster수: 6 / NDCG: 0.3042550243353891
0.30426
각 cluster 별 user 회원 수 :  [176, 96, 64, 23, 186, 102, 296]
cluster수: 7 / NDCG: 0.3057194049741872
0.30572
각 cluster 별 user 회원 수 :  [117, 53, 116, 85, 179, 53, 238, 102]
cluster수: 8 / NDCG: 0.29636020864766427
0.29636
각 cluster 별 user 회원 수 :  [22, 321, 57, 196, 173, 25, 47, 31, 71]
cluster수: 9 / NDCG: 0.3221906878567271
0.32219
각 cluster 별 user 회원 수 :  [71, 230, 36, 60, 182, 70, 114, 43, 79, 58]
cluster수: 10 / NDCG: 0.2978449527736864
0.29784
각 cluster 별 user 회원 수 :  [23, 75, 29, 63, 94, 54, 124, 101, 164, 186, 30]
cluster수: 11 / NDCG: 0.30642302232707286
0.30642
각 cluster 별 user 회원 수 :  [59, 218, 33, 28, 24, 17, 50, 185, 193, 20, 29, 87]
cluster수: 12 / NDCG: 0.3037858410843044
0.30379
각 cluster 별 user 회원 수 :  [42, 6, 193, 36, 183, 74, 15, 54, 123, 5, 163, 23, 26]
cluster수: 13 / NDCG: 0.29524769800125655
0.29525
각 cluster 별 user 회원 수 :  [4, 19, 93, 40, 44, 126, 51, 15, 37, 61, 30, 186, 233, 4]
cluster수: 14 / NDCG: 0.3143187454875207
0.31432
각 cluster 별 user 회원 수 :  [1, 224, 17, 11, 46, 53, 17, 7, 20, 47, 1, 79, 184, 119, 117]
cluster수: 15 / NDCG: 0.3447916388257614
0.34479
각 cluster 별 user 회원 수 :  [43, 26, 66, 32, 20, 34, 26, 108, 14, 119, 169, 3, 5, 230, 18, 30]
cluster수: 16 / NDCG: 0.31153173772415194
0.31153
각 cluster 별 user 회원 수 :  [90, 54, 216, 14, 13, 1, 80, 53, 13, 178, 26, 139, 1, 3, 33, 1, 28]
cluster수: 17 / NDCG: 0.3187385837159389
0.31874
각 cluster 별 user 회원 수 :  [3, 113, 8, 12, 113, 32, 224, 5, 34, 61, 3, 50, 2, 30, 27, 183, 31, 12]
cluster수: 18 / NDCG: 0.32129819460141307
0.32130
각 cluster 별 user 회원 수 :  [4, 173, 67, 9, 10, 39, 132, 112, 8, 218, 2, 16, 1, 47, 64, 24, 3, 10, 4]
cluster수: 19 / NDCG: 0.31813506853301166
0.31814
각 cluster 별 user 회원 수 :  [181, 9, 24, 146, 33, 40, 9, 94, 4, 21, 1, 59, 28, 4, 109, 1, 150, 1, 11, 18]
cluster수: 20 / NDCG: 0.29378361711238155
0.29378
각 cluster 별 user 회원 수 :  [171, 173, 10, 10, 10, 78, 62, 24, 27, 35, 1, 40, 1, 193, 85, 4, 12, 2, 1, 1, 3]
cluster수: 21 / NDCG: 0.32219331877829555
0.32219
각 cluster 별 user 회원 수 :  [20, 26, 33, 164, 148, 25, 90, 12, 17, 35, 32, 35, 1, 14, 5, 1, 36, 47, 50, 114, 34, 4]
cluster수: 22 / NDCG: 0.2970256251962897
0.29703
각 cluster 별 user 회원 수 :  [157, 106, 39, 2, 30, 12, 60, 14, 5, 7, 66, 1, 9, 12, 112, 27, 2, 5, 56, 6, 1, 45, 169]
cluster수: 23 / NDCG: 0.33099789826640713
0.33100
각 cluster 별 user 회원 수 :  [4, 90, 174, 9, 51, 194, 29, 15, 9, 7, 9, 16, 1, 26, 44, 1, 57, 32, 1, 2, 1, 2, 142, 27]
cluster수: 24 / NDCG: 0.27547227699887894
0.27547
각 cluster 별 user 회원 수 :  [1, 42, 14, 13, 120, 7, 30, 119, 114, 2, 34, 8, 60, 205, 34, 11, 1, 30, 67, 17, 2, 4, 4, 1, 3]
cluster수: 25 / NDCG: 0.309896458644939
0.30990
각 cluster 별 user 회원 수 :  [6, 143, 2, 79, 180, 32, 6, 16, 76, 3, 58, 2, 1, 15, 15, 1, 8, 3, 7, 2, 113, 41, 29, 103, 1, 1]
cluster수: 26 / NDCG: 0.32718498128474544
0.32718
각 cluster 별 user 회원 수 :  [21, 36, 119, 11, 39, 5, 35, 101, 2, 39, 1, 1, 167, 66, 83, 21, 2, 4, 1, 1, 1, 31, 109, 1, 20, 24, 2]
cluster수: 27 / NDCG: 0.3010294291712203
0.30103
각 cluster 별 user 회원 수 :  [2, 115, 19, 25, 119, 144, 3, 3, 37, 1, 6, 39, 31, 58, 4, 24, 1, 1, 54, 6, 141, 1, 9, 2, 3, 1, 59, 35]
cluster수: 28 / NDCG: 0.30486656281391855
0.30487
각 cluster 별 user 회원 수 :  [18, 74, 24, 9, 39, 17, 2, 15, 58, 27, 145, 1, 44, 96, 173, 1, 2, 60, 6, 2, 31, 2, 2, 3, 3, 1, 83, 4, 1]
cluster수: 29 / NDCG: 0.32059218076828383
0.32059
각 cluster 별 user 회원 수 :  [2, 21, 97, 5, 11, 4, 24, 4, 10, 58, 91, 71, 14, 52, 65, 40, 77, 5, 26, 8, 11, 57, 76, 2, 1, 36, 3, 69, 2, 1]
cluster수: 30 / NDCG: 0.31494691122483687
0.31495
각 cluster 별 user 회원 수 :  [11, 112, 3, 39, 10, 84, 160, 3, 3, 45, 1, 5, 24, 82, 2, 13, 41, 1, 6, 1, 24, 111, 1, 1, 48, 1, 1, 70, 1, 2, 37]
cluster수: 31 / NDCG: 0.33465632921290295
0.33466
각 cluster 별 user 회원 수 :  [63, 30, 39, 141, 87, 1, 130, 27, 1, 135, 4, 1, 1, 2, 42, 1, 15, 2, 6, 112, 1, 2, 8, 62, 1, 3, 16, 1, 1, 1, 1, 6]
cluster수: 32 / NDCG: 0.3204018726347865
0.32040
각 cluster 별 user 회원 수 :  [5, 164, 25, 3, 12, 20, 12, 11, 27, 19, 1, 4, 107, 96, 4, 1, 18, 1, 1, 2, 148, 16, 1, 17, 1, 59, 44, 56, 3, 1, 62, 1, 1]
cluster수: 33 / NDCG: 0.29917459514889755
0.29917
각 cluster 별 user 회원 수 :  [18, 83, 1, 34, 1, 100, 26, 1, 164, 8, 1, 14, 1, 1, 1, 1, 11, 1, 151, 2, 45, 1, 60, 1, 2, 30, 23, 25, 6, 5, 1, 2, 1, 121]
cluster수: 34 / NDCG: 0.3552666820235812
0.35527
각 cluster 별 user 회원 수 :  [2, 5, 86, 184, 18, 5, 33, 2, 42, 6, 3, 4, 1, 1, 56, 106, 1, 31, 4, 59, 7, 2, 7, 88, 142, 5, 1, 1, 3, 2, 1, 23, 7, 1, 4]
cluster수: 35 / NDCG: 0.33282028196946484
0.33282
각 cluster 별 user 회원 수 :  [6, 76, 26, 24, 2, 82, 104, 9, 35, 18, 1, 77, 27, 50, 23, 121, 5, 20, 1, 17, 1, 1, 5, 1, 19, 1, 107, 5, 8, 11, 1, 1, 17, 2, 1, 38]
cluster수: 36 / NDCG: 0.30458572858170535
0.30459
각 cluster 별 user 회원 수 :  [79, 32, 51, 29, 2, 93, 6, 48, 18, 6, 23, 73, 82, 1, 1, 16, 54, 1, 4, 1, 3, 16, 1, 2, 1, 3, 1, 1, 1, 1, 1, 2, 175, 6, 103, 2, 4]
cluster수: 37 / NDCG: 0.34911187054234044
0.34911
각 cluster 별 user 회원 수 :  [128, 1, 5, 2, 22, 37, 1, 36, 10, 17, 79, 97, 6, 2, 19, 93, 100, 1, 1, 1, 6, 1, 6, 1, 1, 5, 2, 34, 2, 39, 1, 30, 1, 3, 12, 1, 139, 1]
cluster수: 38 / NDCG: 0.3098514676165845
0.30985
각 cluster 별 user 회원 수 :  [1, 12, 11, 72, 7, 41, 18, 53, 12, 19, 17, 5, 2, 1, 83, 2, 10, 20, 1, 4, 1, 26, 91, 7, 38, 117, 7, 111, 2, 5, 2, 1, 1, 3, 1, 1, 1, 1, 136]
cluster수: 39 / NDCG: 0.29218462712017124
0.29218
각 cluster 별 user 회원 수 :  [2, 89, 4, 37, 5, 69, 9, 147, 112, 1, 9, 41, 19, 1, 64, 121, 1, 5, 1, 1, 2, 1, 16, 1, 14, 1, 1, 1, 1, 2, 4, 19, 50, 1, 16, 36, 1, 35, 2, 1]
cluster수: 40 / NDCG: 0.3083514576309101
0.30835
각 cluster 별 user 회원 수 :  [1, 7, 130, 3, 3, 9, 62, 17, 24, 19, 9, 1, 2, 1, 7, 1, 4, 13, 1, 96, 1, 29, 35, 55, 152, 3, 1, 2, 2, 1, 88, 32, 112, 1, 1, 1, 1, 2, 1, 12, 1]
cluster수: 41 / NDCG: 0.2934394702626303
0.29344
각 cluster 별 user 회원 수 :  [3, 21, 13, 26, 40, 3, 40, 2, 18, 1, 164, 15, 52, 2, 130, 4, 6, 38, 1, 38, 1, 2, 1, 1, 117, 47, 8, 1, 6, 1, 1, 107, 1, 1, 1, 2, 2, 2, 1, 1, 21, 1]
cluster수: 42 / NDCG: 0.2909804750955106
0.29098
각 cluster 별 user 회원 수 :  [2, 149, 1, 90, 3, 48, 5, 1, 98, 2, 1, 33, 3, 87, 34, 1, 3, 1, 51, 1, 1, 6, 41, 1, 2, 97, 1, 1, 12, 40, 2, 1, 16, 2, 2, 1, 1, 1, 57, 11, 1, 19, 13]
cluster수: 43 / NDCG: 0.3333012078134815
0.33330
각 cluster 별 user 회원 수 :  [2, 60, 8, 63, 1, 5, 1, 4, 66, 5, 85, 1, 14, 3, 60, 1, 4, 1, 14, 27, 7, 5, 3, 1, 18, 1, 1, 6, 5, 7, 76, 100, 9, 28, 1, 80, 21, 18, 1, 89, 1, 1, 6, 33]
cluster수: 44 / NDCG: 0.2985032325356208
0.29850
각 cluster 별 user 회원 수 :  [10, 44, 3, 76, 4, 1, 3, 31, 79, 2, 13, 26, 12, 1, 39, 82, 22, 20, 1, 113, 1, 20, 1, 3, 5, 10, 3, 1, 1, 19, 7, 1, 4, 154, 1, 24, 1, 2, 33, 1, 2, 2, 1, 1, 63]
cluster수: 45 / NDCG: 0.3031506375173215
0.30315
각 cluster 별 user 회원 수 :  [11, 189, 102, 4, 7, 18, 1, 1, 25, 1, 28, 53, 1, 179, 1, 10, 11, 1, 1, 1, 1, 1, 1, 61, 1, 1, 3, 1, 1, 15, 8, 21, 38, 1, 1, 1, 5, 1, 1, 96, 4, 2, 30, 1, 1, 1]
cluster수: 46 / NDCG: 0.3342716221105668
0.33427
각 cluster 별 user 회원 수 :  [29, 29, 2, 23, 13, 5, 2, 5, 34, 77, 4, 18, 7, 5, 10, 1, 69, 1, 2, 1, 1, 16, 85, 1, 2, 27, 82, 11, 1, 1, 9, 133, 3, 1, 9, 26, 1, 1, 29, 1, 1, 1, 81, 1, 75, 1, 6]
cluster수: 47 / NDCG: 0.28139544699067365
0.28140
각 cluster 별 user 회원 수 :  [15, 58, 92, 5, 43, 23, 5, 1, 3, 21, 41, 93, 41, 121, 20, 17, 13, 26, 1, 3, 49, 1, 1, 3, 1, 1, 89, 1, 5, 2, 1, 3, 3, 13, 1, 1, 5, 83, 1, 1, 1, 4, 1, 26, 1, 1, 1, 1]
cluster수: 48 / NDCG: 0.3271090348482015
0.32711
각 cluster 별 user 회원 수 :  [17, 8, 73, 20, 1, 12, 6, 23, 1, 15, 1, 51, 7, 1, 1, 7, 114, 1, 1, 1, 4, 1, 1, 12, 1, 1, 1, 117, 19, 84, 35, 11, 71, 1, 2, 29, 1, 4, 1, 28, 120, 1, 3, 3, 1, 1, 2, 1, 26]
cluster수: 49 / NDCG: 0.3075314679950499
0.30753
각 cluster 별 user 회원 수 :  [70, 77, 4, 45, 65, 128, 29, 3, 6, 33, 2, 167, 1, 4, 2, 49, 1, 5, 45, 2, 1, 5, 1, 3, 1, 1, 2, 18, 1, 2, 1, 107, 1, 2, 6, 1, 1, 3, 1, 10, 1, 1, 1, 1, 1, 2, 2, 1, 25, 2]
cluster수: 50 / NDCG: 0.33133632760919846
0.33134

In [23]:
## precision & recall : binary (2.5 이상 1, 나머지 0)
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score

def groupRS_pre_rec(num, total_matrix, train_matrix):
    total_matrix  # user_item_total 
    train_matrix  # user_item_train
    test_matrix = user_item_test
    
    
    ## 1. K-means로 그룹 clustering(total 대상)
    km = KMeans(n_clusters=num, init='k-means++')
    cluster = km.fit(total_matrix)
    cluster_id = pd.DataFrame(cluster.labels_) # 모든  user의 클러스터

    cluster_id.index = total_matrix.index
    cluster_id.rename(columns = {0 : 'cluster'}, inplace = True) # 모든  user의 클러스터
    
    length = [0]*num
    for i in range(num):
        length[i] = len(cluster_id[cluster_id.cluster==i]) # 각 클러스터에 해당하는 개수

    # train, test 에 cluster 정보 추가
    user_item_train_cl = pd.concat([train_matrix, cluster_id], axis=1, join='inner')
    user_item_test_cl = pd.concat([test_matrix, cluster_id], axis=1, join='inner')
    
    
    ## 2. 클러스터 별로 각 item의 mean 값 구함 (train 대상)
    mean_rating = pd.DataFrame(columns = user_item_train_cl.columns)
    mean_rating.set_index('cluster')
    
    for i in range(num):
        mean_rating = mean_rating.append(user_item_train_cl[user_item_train_cl.cluster == i].mean(axis=0), ignore_index=True)
    
    mean_rating = mean_rating.set_index('cluster')
    mean_rating
    
    
    ## 3. train-test set의 columns(item id) 맞추기 (miss matching 제거)
    for c in user_item_train_cl.columns:
        if c not in user_item_test_cl.columns:
            del mean_rating[c]
        
    for c in user_item_test_cl.columns:
        if c not in user_item_train_cl.columns:
            del user_item_test_cl[c] 
            
    y_pred = mean_rating 
    y_true = user_item_test_cl
    
    ## binary로 만들기 위해 2개의 분류로 생성
    y_pred[y_pred< 2.5] = 0
    y_pred[y_pred >= 2.5] = 1
    
    y_true[y_true< 2.5] = 0
    y_true[y_true >= 2.5] = 1
    
    pre_result = [0]*num # 결과값 저장 리스트
    rec_result = [0]*num
    
    ## 4. 각 결과 값에 precision, recall더해줌
    for idx in test_matrix.index:
        cluster_num = int(y_true.loc[idx].cluster)
        pre_result[cluster_num] += precision_score(list(y_true.loc[idx][:-1].values) ,list(y_pred.loc[cluster_num].values ), average = 'binary')
        rec_result[cluster_num] += recall_score(list(y_true.loc[idx][:-1].values) ,list(y_pred.loc[cluster_num].values ), average = 'binary')
    
    print(pre_result)
    print(rec_result)

    
    #print(sum(pre_result)/num)
    
    #print(sum(rec_result)/num)
    ## 5. 최종적으로 각 precision, recall값 / 각 cluster의 요소 개수
    #for i in range(num):
    #    result[i] = result[i]/length[i]

    
    #print("cluster수:",len(length),"/ NDCG:",sum(result)/len(length))  
    print('%.5f'%(sum(pre_result)/num), ", ",  '%.5f'%(sum(rec_result)/num))

In [24]:
import pandas as pd
from sklearn import preprocessing
from sklearn.preprocessing import MinMaxScaler

cluster_num = range(2,31)
#cluster_num=[2]

for i in cluster_num:
    #reduced_total = SVD.fit_transform(user_item_total)
    #reduced_total = pd.DataFrame(reduced_total)
    #reduced_total.index = total_user_idx
    
    #user_item_train = pd.DataFrame(user_item_train)
    
    groupRS_pre_rec(i, user_item_total, user_item_train)

[0.0, 0]
[0.0, 0]
0.00000 ,  0.00000
[83.5, 0, 0]
[6.188595621403521, 0, 0]
27.83333 ,  2.06287
[48.099999999999945, 0.0, 0, 0]
[58.21009893633862, 0.0, 0, 0]
12.02500 ,  14.55252
[42.5, 33.846153846153804, 0, 0, 0]
[8.961068223715742, 30.51383311862477, 0, 0, 0]
15.26923 ,  7.89498
[0.0, 31.836363636363643, 0, 0, 0, 0]
[0.0, 39.81598149964606, 0, 0, 0, 0]
5.30606 ,  6.63600
[22.250000000000032, 34.0, 0, 0, 0, 0, 0]
[21.12491031814811, 1.2871803941353825, 0, 0, 0, 0, 0]
8.03571 ,  3.20173
[14.409090909090917, 55.400000000000105, 0, 0, 0, 0, 0, 0]
[13.43874436525986, 11.119365128679984, 0, 0, 0, 0, 0, 0]
8.72614 ,  3.06976
[29.100000000000016, 56.0, 0, 0, 0, 0, 0, 0, 0]
[9.957346303814557, 2.4919939951587113, 0, 0, 0, 0, 0, 0, 0]
9.45556 ,  1.38326
[0.0, 31.159999999999936, 0, 0, 0, 0, 0, 0, 0, 0]
[0.0, 19.23785554873005, 0, 0, 0, 0, 0, 0, 0, 0]
3.11600 ,  1.92379
[13.66666666666666, 38.0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[8.113554139870692, 1.3248415595945782, 0, 0, 0, 0, 0, 0, 0, 0, 0]
4.69697 ,  0.85804
[19.25, 0.0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[7.734767793554169, 0.0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
1.60417 ,  0.64456
[16.00000000000001, 0.0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[3.5063920602979377, 0.0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
1.23077 ,  0.26972
[3.4142857142857097, 39.0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[21.189615940885094, 0.9337628522919618, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
3.02959 ,  1.58024
[3.9696969696969675, 54.00000000000005, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[8.756803449508093, 5.277209126701569, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
3.86465 ,  0.93560
[4.689189189189188, 37.45283018867922, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[29.472716703321783, 56.34219671416575, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
2.63388 ,  5.36343
[3.0, 70.00000000000007, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[15.692637545145073, 8.32105875624951, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
4.29412 ,  1.41257
[9.95, 0.0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[8.783624078798853, 0.0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
0.55278 ,  0.48798
[8.444444444444441, 60.166666666666615, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[16.093036888671552, 12.693662232726822, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
3.61111 ,  1.51509
[25.0, 34.214285714285765, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[2.98591650142313, 63.47700487466677, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
2.96071 ,  3.32315
[17.799999999999994, 81.0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[7.6059062612920485, 3.880965156837429, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
4.70476 ,  0.54699
[2.2252747252747245, 46.0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[17.48119606874371, 1.4652482870758827, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
2.19206 ,  0.86120
[6.4499999999999975, 33.23333333333337, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[3.6499009715288793, 25.86711532246603, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
1.72536 ,  1.28335
[15.5, 46.44117647058832, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[2.3332450675044623, 35.799572807277336, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
2.58088 ,  1.58887
[0.0, 44.76923076923085, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[0.0, 27.817973751256105, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
1.79077 ,  1.11272
[19.428571428571438, 0.0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[11.960749598219234, 0.0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
0.74725 ,  0.46003
[9.700000000000005, 51.78571428571428, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[4.55127961701717, 21.246078334477847, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
2.27725 ,  0.95546
[12.64285714285714, 43.77777777777789, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[6.418736894713635, 25.49082204375842, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
2.01502 ,  1.13963
[17.0, 27.75555555555562, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[2.274954391133327, 114.75163624239983, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
1.54330 ,  4.03540
[2.5999999999999996, 45.0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[2.18587459508635, 1.3484475919767016, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
1.58667 ,  0.11781

In [25]:
## precision & recall : multiclass(반올림)
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
import math

def groupRS_pre_rec2(num, total_matrix, train_matrix):
    total_matrix  # user_item_total 
    train_matrix  # user_item_train
    test_matrix = user_item_test
    
    
    ## 1. K-means로 그룹 clustering(total 대상)
    km = KMeans(n_clusters=num, init='k-means++')
    cluster = km.fit(total_matrix)
    cluster_id = pd.DataFrame(cluster.labels_) # 모든  user의 클러스터

    cluster_id.index = total_matrix.index
    cluster_id.rename(columns = {0 : 'cluster'}, inplace = True) # 모든  user의 클러스터
    
    length = [0]*num
    for i in range(num):
        length[i] = len(cluster_id[cluster_id.cluster==i]) # 각 클러스터에 해당하는 개수

    # train, test 에 cluster 정보 추가
    user_item_train_cl = pd.concat([train_matrix, cluster_id], axis=1, join='inner')
    user_item_test_cl = pd.concat([test_matrix, cluster_id], axis=1, join='inner')
    
    
    ## 2. 클러스터 별로 각 item의 mean 값 구함 (train 대상)
    mean_rating = pd.DataFrame(columns = user_item_train_cl.columns)
    mean_rating.set_index('cluster')
    
    for i in range(num):
        mean_rating = mean_rating.append(user_item_train_cl[user_item_train_cl.cluster == i].mean(axis=0), ignore_index=True)
    
    mean_rating = mean_rating.set_index('cluster')
    mean_rating
    
    ## multiuclass 1~5점으로 반올림하여 다중 분류 생성
    for i in mean_rating.index:
        for j in mean_rating.columns:
             mean_rating.loc[i][j] = round(mean_rating.loc[i][j])

    user_item_test_cl = user_item_test_cl.round(0)
    

    ## 3. train-test set의 columns(item id) 맞추기 (miss matching 제거)
    for c in user_item_train_cl.columns:
        if c not in user_item_test_cl.columns:
            del mean_rating[c]
        
    for c in user_item_test_cl.columns:
        if c not in user_item_train_cl.columns:
            del user_item_test_cl[c] 
            
    y_pred = mean_rating 
    y_true = user_item_test_cl
    
    
    pre_result = [0]*num # 결과값 저장 리스트
    rec_result = [0]*num
    
    ## 4. 각 결과 값에 nDCG 더해줌
    for idx in test_matrix.index:
        cluster_num = int(y_true.loc[idx].cluster)
        pre_result[cluster_num] += precision_score(list(y_true.loc[idx][:-1].values) ,list(y_pred.loc[cluster_num].values ), average = 'macro')
        rec_result[cluster_num] += recall_score(list(y_true.loc[idx][:-1].values) ,list(y_pred.loc[cluster_num].values ), average = 'macro')
    
    print(pre_result)
    print(rec_result)
    #print(sum(pre_result)/num)
    
    #print(sum(rec_result)/num)
    ## 5. 최종적으로 각 precision, recall값 / 각 cluster의 요소 개수
    #for i in range(num):
    #    result[i] = result[i]/length[i]

    
    #print("cluster수:",len(length),"/ NDCG:",sum(result)/len(length))  
    print('%.5f'%(sum(pre_result)/num), ", ",  '%.5f'%(sum(rec_result)/num))

In [26]:
import pandas as pd
from sklearn import preprocessing
from sklearn.preprocessing import MinMaxScaler

cluster_num = range(2,31)
#cluster_num=[2]

for i in cluster_num:
    #reduced_total = SVD.fit_transform(user_item_total)
    #reduced_total = pd.DataFrame(reduced_total)
    #reduced_total.index = total_user_idx
    
    #user_item_train = pd.DataFrame(user_item_train)
    
    groupRS_pre_rec2(i, user_item_total, user_item_train)

[26.648254764559113, 53.51832913719378]
[29.16322544764736, 56.06715694210131]
40.08329 ,  42.61519
[45.342621684601866, 21.91799567350174, 14.543358408169585]
[47.50794531709458, 23.90785094102233, 14.113544564426824]
27.26799 ,  28.50978
[19.97162242548278, 44.70255236192564, 9.492550939068396, 7.747905263638022]
[21.965960151654173, 46.86904744054555, 10.085381813708347, 7.4913701863737305]
20.47866 ,  21.60294
[7.747905263638022, 13.055853123213346, 33.048720187829474, 9.492550939068396, 19.14266577679049]
[7.4913701863737305, 15.34362568082785, 34.2585148173619, 10.085381813708347, 20.67276362932458]
16.49754 ,  17.57033
[13.794373953652293, 6.140231341218875, 13.55817032501908, 31.5488764044944, 11.804948193272935, 6.390321659577537]
[16.028968063000352, 7.04895190104157, 14.1565957028652, 32.87071932521023, 12.088443440823738, 6.32377873387311]
13.87282 ,  14.75291
[17.91588432984379, 6.618136353471958, 14.265387973195777, 9.02599605692279, 5.744657364598521, 9.834082621521315, 19.682899305555548]
[18.644055383317582, 7.508207063461076, 15.511928512699944, 10.605762585690577, 5.747329897495384, 11.989273898035467, 20.202166511823982]
11.86958 ,  12.88696
[5.009271010018906, 17.416519449817326, 5.605515978944885, 9.527762530390131, 7.065509417465742, 17.782290539321778, 10.058379789786205, 10.59137987999992]
[5.7459931574084075, 18.27095331831748, 6.248846111803183, 11.256052157983405, 6.983188871967288, 18.168821647231834, 11.87243571137881, 11.695454430087228]
10.38208 ,  11.28022
[6.114375164690381, 26.406151151151157, 8.851683700593473, 14.296984815459236, 15.922017991855967, 4.2819514141717425, 0.32259877001450643, 3.202172323234697, 2.4103473517708305]
[6.793533826568802, 28.253140327052357, 9.164993196718232, 15.213849131579927, 19.554891584255596, 4.34452018121037, 0.19946386478644543, 3.987733329461851, 2.3699394832495293]
9.08981 ,  9.98690
[17.02056270502145, 7.055618348021919, 11.697903040864205, 3.4895445529242743, 4.622860447275873, 0.32183221788884075, 3.527535171018663, 17.382703483572715, 8.697116400911352, 10.177846209032648]
[17.913744482071678, 7.549449647506232, 13.052715076120473, 3.5122689033583705, 4.559953615225113, 0.3183334301500828, 3.589302555171865, 17.80283992655974, 9.051751069170416, 12.294176244049229]
8.39935 ,  8.96445
[3.1370000785742342, 3.1522333444524007, 6.980765639589171, 4.4805546423614, 2.755435908107358, 8.181855419661245, 4.8079721776997735, 16.139465093605878, 10.27909549392803, 21.478640149844342, 0.5817253751425493]
[3.4014377539526324, 3.2506101755587498, 8.103204816924382, 4.168496925054766, 3.3185653106503117, 8.568101330665337, 5.375316207210428, 18.408971656258714, 10.764981706650865, 22.15304341408701, 0.7286457693282806]
7.45225 ,  8.02194
[1.7198689796515885, 4.9127646438340085, 17.204004267607758, 10.194977405635296, 1.8670179727257354, 5.137448072942107, 17.93398254785582, 13.13978250649853, 1.2980236575708362, 1.8392965580644698, 5.516715838124562, 3.340343246494783]
[1.8017812994496925, 5.363513220654591, 18.268492966147218, 12.145952797294445, 1.5913579491614744, 5.382112090717579, 18.66185163305967, 14.077274843759204, 1.4971507247144078, 1.8998507519364345, 5.676712462291223, 3.3686072408030316]
7.00869 ,  7.47789
[9.142954608612095, 1.6786393237819894, 1.2382035980496457, 1.4503924403387383, 2.892076067926691, 2.3285716195520854, 17.233124484068007, 10.253319233716475, 17.737130259511215, 0.7250451468991286, 4.662870912997826, 8.87706417201515, 6.200917782224496]
[10.463959156329496, 1.534439756329715, 1.3236947347340005, 1.467564721380477, 3.5008974768905454, 2.4699707380352143, 17.72536404731966, 11.667718764259622, 18.390468668939235, 0.6665791760782532, 4.870838523384379, 9.342566120987426, 6.209747702070521]
6.49387 ,  6.89491
[17.189439489188032, 10.362878563013727, 8.683277990686436, 4.041540980511568, 18.293942775974017, 0.8693992588834818, 3.9144495984585124, 4.168685327057929, 0.17230278259895862, 7.11281231590865, 2.1561989426911796, 2.2910020617918523, 0.15803303303303304, 3.4881819676946417]
[18.24116473259205, 12.418500766932604, 9.317997199511314, 4.407211106894348, 18.81045945068092, 0.861398013252398, 4.103821172967927, 4.822338013912442, 0.119921875, 8.408133765249332, 2.136031647489957, 2.3349030957114003, 0.10535535535535535, 3.7205306409243204]
5.92158 ,  6.41484
[0, 17.91569323290522, 2.522073067485191, 4.887785323965651, 1.0769357445569818, 1.013837295008768, 5.573743594733086, 4.305748969581599, 5.940081557715616, 6.026023703920371, 2.3109019553821346, 8.98881866907267, 3.7568344766010426, 16.56178977272726, 2.8015718350419503]
[0, 18.900095547372036, 2.5383309368473865, 5.330660071263177, 1.0112403672790178, 1.0696949534043778, 5.615514255480442, 4.831230085307638, 7.045179921472641, 6.480812483568451, 2.485714062679029, 9.023246786254239, 3.8680670384489275, 17.493344001345122, 2.8622146174497676]
5.57879 ,  5.90369
[10.500036242567198, 9.82483744167174, 18.68885168650793, 0.5002082804381656, 1.0050934052160199, 0.5099944594383232, 4.873165944534563, 4.125168606992635, 17.52222874071992, 4.777151678216369, 4.721987700867586, 0, 0.13929916015059368, 2.6799070478954428, 1.1299797375869958, 2.750372313128781]
[11.224625134343812, 11.905409443250388, 19.194412118447303, 0.5234371190603859, 1.0175086667789746, 0.6208707948534712, 5.636259643640113, 4.926120031991933, 18.44314529114901, 4.623419667918454, 5.328857659376241, 0, 0.13484721054107093, 2.7755780840235453, 1.047290403426057, 2.83010576747913]
5.23427 ,  5.63949
[0.7290482498394347, 3.9921096184329667, 2.5391774622233028, 5.0266448230668415, 9.895189106594728, 0.294936096170128, 2.182150230218708, 1.257979098255131, 1.0373930153784607, 2.3559016832307815, 0.16034858387799564, 3.2706886008141187, 4.321569515903542, 0.15857787810383747, 15.894133198850767, 17.241487163097922, 11.764181589964124]
[0.9706069452617958, 4.287182571141719, 2.808588117053434, 5.052713580125975, 11.862384975993704, 0.29538467830068105, 2.8568619232628314, 1.4604033715073876, 1.117114076084818, 2.3937834856296925, 0.09209209209209208, 3.574649614041299, 4.56134634950354, 0.10791090629800308, 17.299718423436314, 17.976108338234386, 12.336327462909212]
4.83068 ,  5.23842
[0.16861619294884686, 3.991722466047351, 16.887655813453687, 7.064634817957369, 0.5178511636614618, 2.9054167592148867, 3.6436936492981236, 2.0051660551124724, 4.965668381465179, 0.733918489856697, 2.047256764526022, 18.133147597820688, 10.204766203334197, 0, 1.05445974559605, 1.909353208463988, 7.120387795836898, 1.3553424586982747]
[0.22148753394976958, 4.226234251029457, 17.994495156713008, 7.992613779187037, 0.6501655231219744, 2.823557335874652, 3.383959123702883, 1.9910005614299626, 5.397446582253271, 0.9067820244893182, 2.1519496188135774, 18.61631230516477, 12.393066594110659, 0, 0.9711373210466872, 1.9923878828048487, 7.249084761783588, 1.4166000639215401]
4.70606 ,  5.02102
[1.1739350290581818, 2.5444733060319242, 5.217525821431494, 6.524809782003886, 2.6246760596081833, 17.345803216226816, 0.5057897423209871, 3.1147138330243926, 1.8998621048706532, 7.893709535367391, 5.569216763675326, 1.9764646377360438, 0.37061264460244453, 0.32183221788884075, 0.1480569239189929, 0.15175708948690414, 4.5132506874140725, 14.799752536500865, 7.619919527750833]
[1.4285997627016944, 2.7656334401860576, 6.1463548239809604, 6.785805971288809, 2.321605391649478, 18.26203379817435, 0.4254482393913075, 3.332516244251502, 1.967165040634066, 9.128875756309588, 6.003229409310502, 2.1506285867903547, 0.4114225948768756, 0.3183334301500828, 0.1451959205582394, 0.16447323148912743, 5.0763632005718025, 15.310853529699171, 7.934273700109621]
4.43769 ,  4.74099
[0, 3.981849970311109, 7.1184769721842205, 8.5069605743808, 4.461256736428968, 1.3803866662996929, 16.702855342175166, 0, 3.081718439245243, 0.5475479954526613, 0, 0.662260973805106, 2.0090113178204367, 14.37821890241822, 3.402845946349013, 4.632092796092795, 11.467304008606083, 0, 1.3736471861471862, 0]
[0, 3.8192783951321525, 8.014048711693023, 10.264754058949427, 4.577768433795839, 1.6100121546421151, 17.70418378509157, 0, 3.3546868597934134, 0.6866879660963074, 0, 0.7491842268495265, 2.5526107960186235, 15.18717519850601, 3.2613281320812404, 5.18420643265275, 12.043102157102018, 0, 1.4014034721382633, 0]
4.18532 ,  4.52052
[6.98443562556931, 0.35566401323147945, 2.9481368414866083, 5.5048782916429975, 12.8844100140056, 4.088696965771798, 3.3010569812059094, 4.273407910062287, 17.54167433479028, 0.8935725855564507, 2.3949459208452932, 2.544019652508595, 1.4624300734943314, 9.355720899052924, 1.8577698326806764, 0.15358126721763085, 0.17307913361261215, 0, 4.7612254159212135, 1.4885111860767966, 2.0211846032278036]
[7.955830807125495, 0.3604985604676997, 3.3818665196432605, 5.884211032503973, 13.52417974321932, 4.555229859674352, 3.5759728056004905, 4.549677400080293, 18.420062719634824, 0.9121630305664118, 2.488784417192983, 3.236858498531981, 1.6504521749236762, 10.298837865728135, 1.806310286548336, 0.11418330773169483, 0.22389240506329114, 0, 5.615628102661843, 1.7571257340021131, 2.079217974435591]
4.04707 ,  4.39957
[1.902637362316184, 4.641309097454259, 6.616137162244033, 0.36339526595914184, 1.9744715749986126, 1.3957939444161698, 9.681606978879701, 1.3182244750102246, 2.301178577334589, 2.0154389614012946, 5.733560454996295, 7.570259885629445, 8.892489917552133, 2.5393187386139924, 5.7884047632912115, 1.02598772831231, 3.4611583525604095, 3.5269755429808427, 0, 12.116313286508634, 0, 0.7298769290534531]
[1.860297700392209, 5.049743091987881, 8.045965551885304, 0.30022244917912755, 2.1707867369664102, 1.3024953816164906, 10.230898847138683, 1.3385188020880894, 2.509108277470221, 2.1940516552260507, 5.159058830211284, 8.237100609470488, 10.68764203080526, 3.3146202744556224, 6.104480291271242, 0.9068969284116842, 3.781087126297623, 3.709591115768771, 0, 12.535162364108793, 0, 0.6470454855671398]
3.79975 ,  4.09476
[6.348383451087688, 2.79787125132233, 1.210231786399677, 0, 2.1348578017715507, 2.069394227811477, 2.2026023803058647, 0, 4.9124900711185, 17.909005075696857, 12.54981017908554, 0.12409598948060487, 2.570200432114774, 1.8660344273882536, 0.1774282411323521, 0.13929916015059368, 0, 6.516240131305576, 13.716823331652375, 2.8185504664533902, 0.16281165071487652, 1.2127433858335166, 0.8692468622339276]
[7.342352437362604, 2.827418834774301, 1.2430872913513833, 0, 2.4453116762028437, 2.3340684611580946, 1.9465266655515223, 0, 5.562918086363493, 20.032189656826933, 14.06305402523488, 0.11245159368483765, 2.6800432454939656, 2.383696031022199, 0.14077572029597527, 0.13484721054107093, 0, 6.743085488799106, 14.848914695329785, 3.36209753279168, 0.3035019455252918, 1.3321717554696175, 0.8148515689801236]
3.57861 ,  3.94145
[0.8477594538171309, 17.419802188552183, 2.1719294580391937, 3.6304051830971424, 1.1663828941538301, 6.428093768371546, 0.16429558669335623, 4.8489140649768085, 0.5414508497489378, 6.080591579528308, 13.797922883576664, 0.5485384074411158, 4.307004123037861, 1.659917436235124, 0.3833567226222939, 2.114904086514205, 0.17230278259895862, 1.3623176959094772, 0.13929916015059368, 9.046644825073054, 0, 7.481149565050512, 0.15803303303303304, 0.15358126721763085]
[1.0178775923985923, 18.247722198084055, 2.2840348151486802, 3.7246038803324724, 1.3084617158834437, 7.214935912587621, 0.24475284845369658, 5.067783817868603, 0.43394491238649247, 7.323831878566148, 14.590005571958137, 0.651083715367252, 4.222701958776867, 2.200652919878717, 0.4021445158220981, 2.3713349227358416, 0.119921875, 1.6883814560717079, 0.13484721054107093, 10.113538643639853, 0, 8.573830044945995, 0.10535535535535535, 0.11418330773169483]
3.52602 ,  3.83983
[5.926741388044579, 1.8683510175515505, 15.11550569267847, 2.469008707724565, 0.32225694035888963, 0.6824362826004865, 4.281936761797873, 1.9896398646743283, 7.591222489256526, 2.9179302108076803, 4.669601318812025, 4.359993337962884, 0.16353429675347483, 10.186695991234858, 8.56226070682509, 0.472502764537023, 0.36137707742505376, 0, 1.5695754180792096, 0.13972055888223553, 0.5343499758934398, 2.818243441024792, 0, 1.600348195611772, 4.123363436442605]
[6.91447782050252, 1.8415114666743277, 16.016138421539047, 1.9568060649366177, 0.26919401254747893, 0.9539023721151971, 5.688794732016019, 1.9908736017904678, 7.679824579487067, 3.141200043956891, 4.662386850264672, 5.255545861255504, 0.18906449553001278, 11.093320425065741, 9.133507196849553, 0.578790430080886, 0.44659086760469213, 0, 1.597868531169132, 0.1373703392206336, 0.7135508530887177, 3.0830456822342738, 0, 1.4879924708112258, 4.126594342212487]
3.30906 ,  3.55833
[0, 2.927508247420402, 5.04493919881892, 7.347491235758108, 9.97407351703191, 0.7539948693752169, 4.000731723473658, 1.1273544870131411, 1.3108724690147877, 1.7210351046294579, 5.847653037667452, 0.15018629979936945, 2.576640023603076, 3.160554973341498, 9.949849849849844, 0.3349203146418642, 0.5064117390368845, 7.402343750000001, 0.1480569239189929, 0.15068674062334916, 1.0846268888678678, 2.1295347874584167, 0.7697562556012267, 1.8347702884668775, 13.151107828655835, 0.15857787810383747]
[0, 3.283565385808268, 5.134104566832092, 8.020979207395749, 11.228073040047171, 0.782814370470537, 4.99183093277579, 1.3093954717649678, 1.3802895606741212, 2.017539480426297, 6.563897108881148, 0.1382950646608604, 2.5683916497944916, 3.5273312415662597, 10.659935251401588, 0.39539137290071297, 0.5290133491672516, 8.299458600041213, 0.1451959205582394, 0.1512861309997348, 1.2175080091442934, 2.516627942575698, 0.9223405036551641, 2.298484272698557, 13.870718253794319, 0.10791090629800308]
3.21399 ,  3.54078
[1.8837555802499577, 0.35007979970809633, 3.1464129001009917, 0.7081946881264075, 5.243771823430751, 2.008688950426622, 0.7019255785224807, 0.733594714987951, 1.0967065486796488, 12.443015521064298, 4.1374878620941615, 1.3373652361600794, 2.076818769012944, 1.52251529380568, 7.161606938282406, 2.124830068295662, 1.8709397701756705, 2.910448636047092, 1.610819923424438, 5.631980481670126, 9.037409549403952, 12.271348792401419, 1.1673036407374047, 0.15935004032986522, 1.0816815595034879, 1.0688380193370606, 0.7001356885248814]
[1.892182710846685, 0.34772717985404233, 3.7135096203968527, 0.7655557479731374, 6.544977468371373, 2.021477103119307, 0.7910762358721584, 0.6725422697348535, 1.0960085905665349, 12.77502289211351, 4.093997146761289, 1.4575714551043135, 2.062825819598316, 1.6039263902420307, 7.3244994866824955, 2.2279621010750454, 2.1074774665894505, 2.9087894555324874, 1.7389340033142373, 5.38250081690689, 9.72906305063795, 12.802306117717087, 1.3277450190718334, 0.15327102803738316, 1.127754920430641, 1.3057037467153474, 0.9909801656715683]
3.11804 ,  3.29501
[4.43767003975019, 5.408013199369584, 4.148663282430502, 1.3907663996178932, 11.726976772918208, 10.576814689447668, 3.1558648371648146, 1.7922191744379241, 1.984610373647424, 0.13141902157398969, 7.176933572374862, 0.1605489417989418, 0.12409598948060487, 0.1354072738202585, 1.3586379712241783, 1.509829835278937, 0.15358126721763085, 0, 9.243923765174477, 0.1621794871794872, 0.8942505784461416, 11.95985821736134, 0.3349203146418642, 0, 0.15565904600620942, 2.9396433410762675, 1.023321385805189, 0.15425673872431278]
[4.696587125863672, 5.689954971111444, 4.042287339761237, 1.328337597847779, 12.105759388282033, 11.992978274571948, 3.4345261416915953, 2.0365543290734225, 2.0487752409219104, 0.1257998836532868, 8.05968020386058, 0.12363127069009422, 0.11245159368483765, 0.12834757834757834, 1.394508942247782, 1.7013669131650684, 0.11418330773169483, 0, 9.93444089708016, 0.12914752424706483, 0.8234636716641482, 12.778266645647035, 0.39539137290071297, 0, 0.14141025641025642, 3.2680882405548624, 0.9607213742113487, 0.14993514915693903]
2.93715 ,  3.13274
[0.52474070128367, 3.1012757219949005, 1.5538295011074335, 8.37776890278019, 0, 5.092436571158175, 1.0665934961028134, 0.5004517623359386, 0.3515169814082857, 2.0254013754510622, 1.0734829833603, 5.231909309403111, 0.17307913361261215, 0.15803303303303304, 16.434420666890443, 14.567541152263376, 6.823132740116699, 3.700763449367088, 3.121569035730535, 0.15018629979936945, 0.31475541206416546, 0.14727722772277227, 2.3925995993628844, 0.1936121218952277, 0, 1.830227823024433, 2.6177824962211305, 0.14088159031979255, 0.7314137114496524]
[0.49493256013022424, 3.6363036590150837, 1.6090501191074078, 9.632115292294403, 0, 5.465407159073929, 1.0001122432875291, 0.4317078165158199, 0.3927012292937743, 1.9686548793967453, 1.078394453809659, 5.634150904438698, 0.22389240506329114, 0.10535535535535535, 18.541953367159994, 16.0199181174604, 7.903747453215611, 3.3092200891095893, 3.2746389197138925, 0.1382950646608604, 0.3123040550199568, 0.14430072756669363, 2.974967556652569, 0.2199034439023392, 0, 1.8164766450972385, 2.8805742185369057, 0.1359466221851543, 0.6583103864383868]
2.84126 ,  3.10356
[8.785083969465646, 0.8846966547827065, 0.1858842188739096, 4.604650498129143, 1.2348644480087014, 0.3558299149773263, 1.183677945640435, 0.5441270784408039, 3.431595543361561, 1.282579114086206, 2.5316048438279166, 1.7713993356905604, 1.9160603298311096, 1.3201757759420778, 3.545329704704705, 12.145823015342687, 0, 0.34034896720517016, 3.0173822108682433, 5.862825663893309, 0, 4.35753935388235, 1.8389356779243824, 11.55978449557101, 0.16120834292857847, 0.13929916015059368, 1.9233340980029907, 3.8203873177859013, 2.3858231550881097, 1.1655439605640736]
[11.01875428084125, 1.0195937349906643, 0.18184639255236618, 4.811283468862364, 1.4190952792410234, 0.38385185928861354, 1.2352076712991134, 0.6785193956580374, 3.529239350590719, 1.2907865837755512, 2.592017928365153, 2.1004105298114184, 2.229574783623182, 1.4959022339295869, 4.1106672103146265, 12.464856186057963, 0, 0.5041465245190921, 3.0096039961490857, 5.942966085455247, 0, 5.079482208891757, 1.8841031613138706, 12.621617115937248, 0.1633089133089133, 0.13484721054107093, 1.7263578499531624, 3.952524036591651, 2.627438609440681, 1.1448558941281035]
2.74319 ,  2.97843

y_true = [0, 1, 2, 0, 1, 2] y_pred = [0, 2, 1, 0, 0, 1]

y_true: target의 실제 값 (여기서는 test 값)

y_pred: 분류된 예상값 (여기서는 mean rating(train 값))