# ü§îMovie lens ÎÇ¥Ïâ¨Í∑†ÌòïÏùÑ Ïù¥Ïö©Ìï¥ÏÑú Ïñ¥Ï©åÍµ¨

### context

1. Data load
2. SVD ÌèâÏ†ê ÏòàÏ∏°
3. Clustering
4. NASH aggregation
5. Measure

## Îç∞Ïù¥ÌÑ∞ LOAD

## Library

In [5]:
#Í∏∞Î≥∏ ÎùºÏù¥Î∏åÎü¨Î¶¨
import pandas as pd
import numpy as np
import math
import time

# SVD ÌñâÎ†¨Ï∂ïÏÜå
from sklearn.decomposition import TruncatedSVD

# Ï†úÏûë Ìï®Ïàò
import HA_ndcg

In [215]:

#Îç∞Ïù¥ÌÑ∞ Î∂àÎü¨Ïò§Í∏∞
ratings = pd.read_csv("u.data.txt", header=None, sep='\t')

#Ïª¨ÎüºÎ™Ö ÏàòÏ†ï
ratings.columns = ['userid','movieid','rating','timestamp']

#ÏãúÍ∞Ñ Ïª¨Îüº Ï†úÍ±∞
ratings = ratings.drop(['timestamp'], axis=1)

print("Ï¥ù Ï£ºÏñ¥ÏßÑ ratings Îç∞Ïù¥ÌÑ∞ : ", ratings.shape)

#ÌîºÎ≤óÌÖåÏù¥Î∏îÎ°ú ÎßåÎì§Ïñ¥ÏÑú ÏÇ¨Ïö©Ïûê-ÏïÑÏù¥ÌÖú ÌñâÎ†¨ ÌôïÏù∏ÌïòÍ∏∞
rating_table= pd.pivot_table(ratings, values='rating', index=['userid'], columns=['movieid'])
rating_table

Ï¥ù Ï£ºÏñ¥ÏßÑ ratings Îç∞Ïù¥ÌÑ∞ :  (100000, 3)

movieid,1,2,3,4,5,6,7,8,9,10,...,1673,1674,1675,1676,1677,1678,1679,1680,1681,1682
userid,,,,,,,,,,,,,,,,,,,,,
1,5.0,3.0,4.0,3.0,3.0,5.0,4.0,1.0,5.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,4.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
940,NaN,NaN,NaN,2.0,NaN,NaN,4.0,5.0,3.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
941,5.0,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
942,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
943,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Trian Îç∞Ïù¥ÌÑ∞ÏôÄ Test Îç∞Ïù¥ÌÑ∞Îäî 10ÎßåÍ∞úÏùò Îç∞Ïù¥ÌÑ∞Î•º 8ÎßåÍ∞úÏôÄ 2ÎßåÍ∞úÎ°ú ÎÇòÎàÑÏñ¥ Î∂ÑÎ•òÌñàÎã§.  
Ïù¥ÌõÑ pivot ÌïòÏó¨ User-item matrixÎ•º ÎßåÎì§ÏóàÎã§.

In [218]:
# 80000 row
user_train = pd.read_csv('../ml-100k_GRS/u1.base', sep='\t',names=["userID","itemID","rating","timestamp"],header=None, na_filter=False)
user_train = user_train[['userID','itemID','rating']]
user_train = user_train.pivot_table('rating', index = 'userID',columns = 'itemID').fillna(0)

#nan Í∞í Í∑∏ÎåÄÎ°ú Î∞õÍ≥† Ïã∂ÏùÑÎïå 
#user_train = user_train.pivot_table('rating', index = 'userID',columns = 'itemID').fillna(0)

# 20000 row
user_test = pd.read_csv('../ml-100k_GRS/u1.test', sep='\t',names=["userID","itemID","rating","timestamp"],header=None, na_filter=False)
user_test = user_test[['userID','itemID','rating']]
user_test = user_test.pivot_table('rating', index = 'userID',columns = 'itemID').fillna(0)

In [219]:
user_train

itemID,1,2,3,4,5,6,7,8,9,10,...,1673,1674,1675,1676,1677,1678,1679,1680,1681,1682
userID,,,,,,,,,,,,,,,,,,,,,
1,5.0,3.0,4.0,3.0,3.0,0.0,4.0,1.0,5.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
940,0.0,0.0,0.0,2.0,0.0,0.0,4.0,5.0,3.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
941,5.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
942,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
943,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## 2. MF Î°ú ÌèâÏ†ê ÏòàÏ∏°

ÎÇ¥Ïâ¨Í∑†ÌòïÏùÑ ÎèÑÏ∂úÌïòÍ∏∞ ÏúÑÌï¥ Ïö∞ÏÑ† Î™®Îì† ÏòÅÌôîÎì§Ïóê ÎåÄÌïú ÏòàÏ∏°ÌèâÏ†êÏùÑ ÏïåÍ≥† ÏûàÎã§Í≥† Í∞ÄÏ†ïÌñàÎã§.  
ÏàòÏ†ï ÌïÑÏöî

In [220]:
## Ïû¨ÌòïÏù¥ÌòïÏù¥ Ï§Ä ÏΩîÎìú

import numpy

def matrix_factorization(R, P, Q, K, steps=300, alpha=0.0002, beta=0.02):

    

    '''
    R: rating matrix
    P: |U| * K (User features matrix)
    Q: |D| * K (Item features matrix)
    K: latent features
    steps: iterations
    alpha: learning rate
    beta: regularization parameter
    '''
    Q = Q.T

    start = time.time()
    for step in range(steps):
        print('epoch: %d, time: %f'%(step, time.time()-start))
        for i in range(len(R)):
            for j in range(len(R[0])):
                if R[i][j] > 0:
                    # calculate error
                    eij = R[i][j] - numpy.dot(P[i,:],Q[:,j])

                    for k in range(K):
                        # calculate gradient with a and beta parameter
                        P[i][k] = P[i][k] + alpha * (2 * eij * Q[k][j] - beta * P[i][k])
                        Q[k][j] = Q[k][j] + alpha * (2 * eij * P[i][k] - beta * Q[k][j])

        eR = numpy.dot(P,Q)

        e = 0

        for i in range(len(R)):

            for j in range(len(R[0])):

                if R[i][j] > 0:

                    e = e + pow(R[i][j] - numpy.dot(P[i,:],Q[:,j]), 2)

                    for k in range(K):

                        e = e + (beta/2) * (pow(P[i][k],2) + pow(Q[k][j],2))
        # 0.001: local minimum
        if e < 0.001:

            break

    return P, Q.T

In [175]:
# N: num of User
user_train_np = user_train.to_numpy()

N = len(user_train_np)
# M: num of Movie
M = len(user_train_np[0])

K = 5  #Ïù¥Í±∞Î•º [5, 10, 15, 20, 25, 30]
 
P = np.random.rand(N,K)
Q = np.random.rand(M,K)

nP, nQ = matrix_factorization(user_train_np, P, Q, K)

epoch: 0, time: 0.000989
epoch: 1, time: 3.280353
epoch: 2, time: 6.285608
epoch: 3, time: 9.324106
epoch: 4, time: 12.248699
epoch: 5, time: 15.411378
epoch: 6, time: 18.371295
epoch: 7, time: 21.719843
epoch: 8, time: 25.065463
epoch: 9, time: 28.902917
epoch: 10, time: 32.917323
epoch: 11, time: 36.577510
epoch: 12, time: 39.932499
epoch: 13, time: 43.038652
epoch: 14, time: 46.481521
epoch: 15, time: 49.451307
epoch: 16, time: 52.422859
epoch: 17, time: 55.378347
epoch: 18, time: 58.357146
epoch: 19, time: 61.294735
epoch: 20, time: 64.226367
epoch: 21, time: 67.193288
epoch: 22, time: 70.126239
epoch: 23, time: 73.100387
epoch: 24, time: 76.129144
epoch: 25, time: 79.099834
epoch: 26, time: 82.111113
epoch: 27, time: 85.402485
epoch: 28, time: 88.428380
epoch: 29, time: 91.527903
epoch: 30, time: 94.536308
epoch: 31, time: 97.450888
epoch: 32, time: 100.428622
epoch: 33, time: 103.794512
epoch: 34, time: 106.684748
epoch: 35, time: 109.974392
epoch: 36, time: 113.025990
epoch: 37, time: 116.123935
epoch: 38, time: 119.441958
epoch: 39, time: 122.651693
epoch: 40, time: 125.745168
epoch: 41, time: 128.941202
epoch: 42, time: 132.350117
epoch: 43, time: 135.739783
epoch: 44, time: 138.951637
epoch: 45, time: 142.232084
epoch: 46, time: 145.258212
epoch: 47, time: 148.845964
epoch: 48, time: 152.104136
epoch: 49, time: 155.529055
epoch: 50, time: 158.875681
epoch: 51, time: 162.118370
epoch: 52, time: 165.188276
epoch: 53, time: 168.207659
epoch: 54, time: 171.434581
epoch: 55, time: 174.369048
epoch: 56, time: 177.316372
epoch: 57, time: 180.384922
epoch: 58, time: 183.401896
epoch: 59, time: 186.499916
epoch: 60, time: 189.690034
epoch: 61, time: 192.917397
epoch: 62, time: 195.843651
epoch: 63, time: 198.733548
epoch: 64, time: 201.638945
epoch: 65, time: 204.482118
epoch: 66, time: 207.439362
epoch: 67, time: 210.323107
epoch: 68, time: 213.154608
epoch: 69, time: 215.993292
epoch: 70, time: 218.803273
epoch: 71, time: 221.692104
epoch: 72, time: 224.555608
epoch: 73, time: 227.394661
epoch: 74, time: 230.209382
epoch: 75, time: 233.047030
epoch: 76, time: 235.917545
epoch: 77, time: 239.108207
epoch: 78, time: 241.976991
epoch: 79, time: 244.808070
epoch: 80, time: 247.712862
epoch: 81, time: 250.771057
epoch: 82, time: 253.590409
epoch: 83, time: 256.413885
epoch: 84, time: 259.254281
epoch: 85, time: 262.114259
epoch: 86, time: 264.953237
epoch: 87, time: 267.824170
epoch: 88, time: 270.636385
epoch: 89, time: 273.496256
epoch: 90, time: 276.344149
epoch: 91, time: 279.433974
epoch: 92, time: 282.282622
epoch: 93, time: 285.176009
epoch: 94, time: 288.037171
epoch: 95, time: 290.852416
epoch: 96, time: 293.713314
epoch: 97, time: 296.531855
epoch: 98, time: 299.371837
epoch: 99, time: 302.252079
epoch: 100, time: 305.095570
epoch: 101, time: 308.075761
epoch: 102, time: 310.916924
epoch: 103, time: 313.807943
epoch: 104, time: 316.655651
epoch: 105, time: 319.523316
epoch: 106, time: 322.388228
epoch: 107, time: 325.295581
epoch: 108, time: 328.157484
epoch: 109, time: 331.034970
epoch: 110, time: 333.911383
epoch: 111, time: 336.816190
epoch: 112, time: 339.670255
epoch: 113, time: 342.505374
epoch: 114, time: 345.332449
epoch: 115, time: 348.204038
epoch: 116, time: 351.014303
epoch: 117, time: 353.875865
epoch: 118, time: 356.699726
epoch: 119, time: 359.588156
epoch: 120, time: 362.416661
epoch: 121, time: 365.231718
epoch: 122, time: 368.095404
epoch: 123, time: 370.928026
epoch: 124, time: 373.787874
epoch: 125, time: 376.590528
epoch: 126, time: 379.448884
epoch: 127, time: 382.314301
epoch: 128, time: 385.140777
epoch: 129, time: 387.995849
epoch: 130, time: 391.004268
epoch: 131, time: 394.063833
epoch: 132, time: 397.037676
epoch: 133, time: 399.940472
epoch: 134, time: 402.866886
epoch: 135, time: 405.802231
epoch: 136, time: 408.694137
epoch: 137, time: 411.601894
epoch: 138, time: 414.544374
epoch: 139, time: 417.489290
epoch: 140, time: 420.362211
epoch: 141, time: 423.315500
epoch: 142, time: 426.881047
epoch: 143, time: 430.651439
epoch: 144, time: 434.284455
epoch: 145, time: 437.666505
epoch: 146, time: 440.855260
epoch: 147, time: 444.005477
epoch: 148, time: 447.261597
epoch: 149, time: 450.248906
epoch: 150, time: 453.176110
epoch: 151, time: 456.221762
epoch: 152, time: 459.089703
epoch: 153, time: 462.014854
epoch: 154, time: 464.942297
epoch: 155, time: 467.927515
epoch: 156, time: 471.429439
epoch: 157, time: 475.085274
epoch: 158, time: 478.441307
epoch: 159, time: 481.493078
epoch: 160, time: 484.428281
epoch: 161, time: 487.597239
epoch: 162, time: 490.600271
epoch: 163, time: 493.456336
epoch: 164, time: 496.316573
epoch: 165, time: 499.314757
epoch: 166, time: 502.232188
epoch: 167, time: 505.140058
epoch: 168, time: 508.054729
epoch: 169, time: 510.942087
epoch: 170, time: 513.780064
epoch: 171, time: 516.666194
epoch: 172, time: 519.517221
epoch: 173, time: 522.399605
epoch: 174, time: 526.007336
epoch: 175, time: 529.304877
epoch: 176, time: 532.576974
epoch: 177, time: 535.844702
epoch: 178, time: 538.935483
epoch: 179, time: 541.962702
epoch: 180, time: 545.019727
epoch: 181, time: 548.028706
epoch: 182, time: 551.033557
epoch: 183, time: 554.037185
epoch: 184, time: 557.075025
epoch: 185, time: 560.137503
epoch: 186, time: 563.357183
epoch: 187, time: 566.407779
epoch: 188, time: 569.438945
epoch: 189, time: 572.516671
epoch: 190, time: 575.688683
epoch: 191, time: 579.071280
epoch: 192, time: 582.436835
epoch: 193, time: 586.452283
epoch: 194, time: 590.930995
epoch: 195, time: 594.513270
epoch: 196, time: 597.939320
epoch: 197, time: 602.556717
epoch: 198, time: 606.978750
epoch: 199, time: 611.279585
epoch: 200, time: 615.103985
epoch: 201, time: 619.357481
epoch: 202, time: 622.687949
epoch: 203, time: 626.532654
epoch: 204, time: 630.164281
epoch: 205, time: 633.384615
epoch: 206, time: 636.602614
epoch: 207, time: 640.198190
epoch: 208, time: 644.336239
epoch: 209, time: 650.323605
epoch: 210, time: 654.059959
epoch: 211, time: 657.747072
epoch: 212, time: 661.937052
epoch: 213, time: 665.575665
epoch: 214, time: 668.861667
epoch: 215, time: 674.066104
epoch: 216, time: 678.916521
epoch: 217, time: 682.507996
epoch: 218, time: 685.904314
epoch: 219, time: 689.015137
epoch: 220, time: 692.220433
epoch: 221, time: 695.403301
epoch: 222, time: 698.519243
epoch: 223, time: 701.605616
epoch: 224, time: 704.737394
epoch: 225, time: 707.838841
epoch: 226, time: 710.912709
epoch: 227, time: 713.956389
epoch: 228, time: 716.984471
epoch: 229, time: 720.047049
epoch: 230, time: 723.091923
epoch: 231, time: 726.238598
epoch: 232, time: 729.369279
epoch: 233, time: 732.539066
epoch: 234, time: 735.949976
epoch: 235, time: 739.186087
epoch: 236, time: 742.244507
epoch: 237, time: 745.331617
epoch: 238, time: 748.445540
epoch: 239, time: 751.516828
epoch: 240, time: 754.652921
epoch: 241, time: 758.148962
epoch: 242, time: 761.275832
epoch: 243, time: 764.577306
epoch: 244, time: 767.836087
epoch: 245, time: 771.049118
epoch: 246, time: 774.234951
epoch: 247, time: 777.765189
epoch: 248, time: 781.118911
epoch: 249, time: 784.284784
epoch: 250, time: 787.406047
epoch: 251, time: 790.466810
epoch: 252, time: 793.626529
epoch: 253, time: 796.709829
epoch: 254, time: 800.209920
epoch: 255, time: 803.619059
epoch: 256, time: 806.773871
epoch: 257, time: 810.048398
epoch: 258, time: 813.066648
epoch: 259, time: 816.139190
epoch: 260, time: 819.235471
epoch: 261, time: 822.519481
epoch: 262, time: 825.658493
epoch: 263, time: 828.679054
epoch: 264, time: 831.669473
epoch: 265, time: 834.838621
epoch: 266, time: 838.464220
epoch: 267, time: 841.721578
epoch: 268, time: 845.267306
epoch: 269, time: 848.680985
epoch: 270, time: 851.862794
epoch: 271, time: 854.966502
epoch: 272, time: 858.146769
epoch: 273, time: 861.113681
epoch: 274, time: 864.124363
epoch: 275, time: 867.218268
epoch: 276, time: 870.283080
epoch: 277, time: 873.864374
epoch: 278, time: 877.482395
epoch: 279, time: 880.951320
epoch: 280, time: 884.080206
epoch: 281, time: 887.167516
epoch: 282, time: 890.218606
epoch: 283, time: 893.244658
epoch: 284, time: 896.233721
epoch: 285, time: 899.204685
epoch: 286, time: 902.143800
epoch: 287, time: 905.124979
epoch: 288, time: 908.080305
epoch: 289, time: 911.039972
epoch: 290, time: 913.998492
epoch: 291, time: 916.983671
epoch: 292, time: 919.905423
epoch: 293, time: 922.910312
epoch: 294, time: 925.912699
epoch: 295, time: 928.891616
epoch: 296, time: 931.832449
epoch: 297, time: 934.822341
epoch: 298, time: 937.801113
epoch: 299, time: 940.709447

In [221]:
Ratings = pd.DataFrame(nP@nQ.T)
Ratings

,0,1,2,3,4,5,6,7,8,9,...,1640,1641,1642,1643,1644,1645,1646,1647,1648,1649
0,4.080783,3.105075,3.802179,3.739923,3.404238,3.538765,3.872827,3.764835,4.283478,3.862410,...,2.080672,2.153241,3.143997,2.510603,2.744466,2.334731,2.995038,2.459726,1.780943,3.224237
1,4.139741,3.401644,3.009595,3.671248,3.488930,3.721358,3.883205,4.162529,3.994967,3.913301,...,2.522858,2.512630,2.847540,2.569968,2.578417,2.585012,3.086535,2.435236,2.194503,3.009415
2,3.812366,2.541412,2.631012,2.892696,3.049660,2.968664,3.263037,3.445256,3.679177,3.049477,...,2.087686,1.903964,2.421638,2.296500,2.525421,1.966207,2.509840,2.288322,1.648895,2.673915
3,4.365309,4.104658,3.656998,4.355253,4.028333,4.991767,5.044913,5.039673,4.485047,5.312385,...,3.194719,3.571967,3.316243,3.088087,2.814687,3.291098,3.835163,2.587822,3.023613,3.555578
4,3.593027,3.539493,2.962253,3.827104,3.081620,2.906670,2.953503,3.463096,3.261872,3.280941,...,1.787562,1.750811,2.820216,1.849225,1.964371,2.367268,2.675956,1.920003,1.661421,2.538068
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
938,5.207394,4.426681,3.615326,4.655460,4.575027,4.696923,4.812633,5.291031,4.750219,4.965793,...,3.236877,3.173927,3.555299,3.113396,3.233136,3.323435,3.848536,2.885239,2.884222,3.684983
939,3.438722,3.015706,2.437885,3.115329,3.179988,3.548306,3.581239,3.767293,3.205392,3.729757,...,2.426728,2.513905,2.375810,2.239195,2.224985,2.383906,2.736020,1.907813,2.236562,2.557144
940,4.399331,3.475677,3.630721,3.968373,3.693083,3.723816,3.988878,4.138629,4.339818,4.016469,...,2.353886,2.330675,3.210518,2.613850,2.830984,2.572275,3.169721,2.563716,2.023777,3.277864
941,4.270895,3.638857,3.098937,3.839040,3.846248,4.160875,4.254241,4.493551,4.009143,4.391656,...,2.819349,2.872302,2.966109,2.699632,2.748011,2.825610,3.290355,2.392754,2.554145,3.148578
942,3.913846,3.537424,3.263263,3.929395,2.951724,3.558064,3.752526,4.008776,4.237518,3.789263,...,2.245693,2.401803,2.940142,2.555545,2.172469,2.600420,3.175353,2.598245,1.930364,3.018035

---

## 3. ÌÅ¥Îü¨Ïä§ÌÑ∞ÎßÅ

In [222]:
#km.cluster_centers_ # Ï§ëÏã¨

array([[4.27339567, 3.59333016, 3.24472791, ..., 2.50936133, 2.39879788,
        3.19693521],
       [3.40337601, 2.79195794, 2.56368457, ..., 2.04872495, 1.85075671,
        2.54156053],
       [4.00094382, 3.36661473, 2.99669516, ..., 2.35208106, 2.20540903,
        2.96304706],
       [3.70429795, 3.08096173, 2.86400895, ..., 2.21881775, 2.03530231,
        2.79475112],
       [2.84888137, 2.35340348, 2.14535653, ..., 1.63986121, 1.55669138,
        2.10438254],
       [4.78491655, 4.07003593, 3.54127733, ..., 2.76778417, 2.70865967,
        3.5312355 ]])

In [247]:
from sklearn.cluster import KMeans

# SVD Í∏∞Î∞ò ÌÅ¥Îü¨Ïä§ÌÑ∞ÎßÅ Ìïú Ïï†Îì§ÏùÑ pure Ìïú train, test set Ïóê Ï†ÅÏö©
def clustering(num, SVD_ratings, train_data, test_data):
    
    # 1. clusturing
    km = KMeans(n_clusters=num, init='k-means++')
    cluster = km.fit(SVD_ratings)
    cluster_id = pd.DataFrame(cluster.labels_)                   # Î™®Îì†  userÏóê ÌÅ¥Îü¨Ïä§ÌÑ∞ n Ïù¥ ÌëúÏãúÎê®

    cluster_id.index = SVD_ratings.index                        # userId ÏπºÎüºÏùÑ Ïù∏Îç±Ïä§Î°ú ÏÑ§Ï†ï 1~943
    cluster_id.rename(columns = {0 : 'cluster'}, inplace = True) # Î™®Îì†  userÏùò ÌÅ¥Îü¨Ïä§ÌÑ∞


    ## 2. train, test Ïóê cluster Ï†ïÎ≥¥ Ï∂îÍ∞Ä
    train_data = pd.concat([train_data, cluster_id], axis=1, join='inner')
    test_data = pd.concat([test_data, cluster_id], axis=1, join='inner')

    km_center = km.cluster_centers_ # Ï§ëÏã¨
    #print(km.feature_names_in_)
    return train_data, test_data, km_center

In [248]:
train_data, test_data, km_center = clustering(6, Ratings, user_train, user_test)

#Í∞Å ÌÅ¥Îü¨Ïä§ÌÑ∞ Îãπ Ïù∏ÏõêÏàò
train_data['cluster'].value_counts()

5    270
0    229
4    197
3    139
2     65
1     42
Name: cluster, dtype: int64

In [279]:
round(Ratings[0],4)

0      4.0808
1      4.1397
2      3.8124
3      4.3653
4      3.5930
        ...
938    5.2074
939    3.4387
940    4.3993
941    4.2709
942    3.9138
Name: 0, Length: 943, dtype: float64

In [266]:
Ratings[Ratings == km_center[0][0]].notnull().sum().sum()

0

In [253]:
Ratings.iloc[:,:][Ratings.iloc[:,:] == km_center[0]].dropna(axis=0, how='all')

Empty DataFrame
Columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]
Index: []

[0 rows x 1650 columns]

In [269]:
km_center.dtype

dtype('float64')

# 1. Average Î•º ÌÜµÌïú Ï∂îÏ≤ú

In [189]:
# cluster Î≥Ñ ÏòÅÌôî Î≥ÑÏ†ê ÌèâÍ∑† ÌñâÎ†¨Í∞í (index : cluster)
def cluster_mean(train_data):
    #train Îç∞Ïù¥ÌÑ∞Î•º ÌÅ¥Îü¨Ïä§ÌÑ∞ÎßÅÏúºÎ°ú index Ï≤òÎ¶¨
    
    mean_rating = pd.DataFrame(columns = train_data.columns)
    mean_rating.set_index('cluster')
    mean_rating

    num = 6

    # ÌÅ¥Îü¨Ïä§ÌÑ∞ Î≥Ñ ÏÇ¨Ïö©ÏûêÎì§Ïùò ÏòÅÌôî ÌèâÍ∑† Î≥ÑÏ†ê ÎèÑÏ∂ú (ÏïÑÎ¨¥ÎèÑ Î≥¥ÏßÄ ÏïäÏùÄ Í≤ÉÏùÄ NanÍ∞í Ï≤òÎ¶¨ ÎêúÎã§.)
    for i in range(num):
        mean_rating = mean_rating.append(train_data[train_data.cluster == i].mean(axis=0), ignore_index=True) 

    return mean_rating.drop(['cluster'], axis=1)

mean_rating = cluster_mean(train_data)

In [190]:
# train Îç∞Ïù¥ÌÑ∞ÏôÄ test Îç∞Ïù¥ÌÑ∞ÏóêÏÑú Í≤πÏπòÏßÄ ÏïäÎäî ÏïÑÏù¥ÌÖú(ÏòÅÌôî) Î•º Ï†úÍ±∞ÌïúÎã§.

def miss_matching(mean_data, test_data):

    for c in mean_data.columns:
        if c not in test_data.columns:
            del mean_data[c]
        
    for c in test_data.columns[:-1]:
        if c not in mean_data.columns:
            del test_data[c]

    return mean_data, test_data


pred_data, test_data =  miss_matching(mean_rating,test_data)

In [191]:
# top k Î•º ÎΩëÏùÑ Îïå
pred_data[0:1].sort_values(by=0,axis=1, ascending=False)

,50,100,181,127,174,1,286,258,288,98,...,1242,1398,1250,1252,1390,1386,1385,1379,1378,1094
0,2.235507,1.768116,1.757246,1.65942,1.57971,1.554348,1.492754,1.478261,1.471014,1.438406,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [192]:
print(f'ÏòàÏ∏°Îêú ÌÅ¥Îü¨Ïä§ÌÑ∞ÎßÅ Î≥Ñ item ÌèâÏ†êÍ≥º ÏòàÏ∏°Ìï† test itemÏùÄ \n{pred_data.shape}, {test_data.shape} Î°ú ÎèôÏùºÌï¥Ï°åÎã§.')

ÏòàÏ∏°Îêú ÌÅ¥Îü¨Ïä§ÌÑ∞ÎßÅ Î≥Ñ item ÌèâÏ†êÍ≥º ÏòàÏ∏°Ìï† test itemÏùÄ
(6, 1378), (459, 1379) Î°ú ÎèôÏùºÌï¥Ï°åÎã§.

In [59]:
#ndcg Í∞íÏùÑ Íµ¨ÌïòÍ∏∞ ÏúÑÌï¥ Ï∂îÏ≤úÎêòÏßÄ ÏïäÏùÄ ÏïÑÏù¥ÌÖúÎì§ÏùÄ 0Ï†êÏùÑ Ï§ÄÎã§.

pred_data = pred_data.fillna(0, downcast='infer')
test_data = test_data.fillna(0, downcast='infer')

- test Îç∞Ïù¥ÌÑ∞Ïùò ÎßàÏßÄÎßâ Ïó¥ÏùÄ clustering number ÏùÑ ÏùòÎØ∏ÌïúÎã§

- ÏπºÎüºÏùÄ 1682 ÍπåÏßÄ ÏûàÏßÄÎßå ÏïÑÎ¨¥ ÌÅ¥Îü¨Ïä§ÌÑ∞ÎèÑ Î≥¥ÏßÄ ÏïäÏïòÎçò ÌñâÏùÄ ÏûêÎèôÏúºÎ°ú Ï†úÍ±∞ÎêúÎã§.

Ìï¥Îãπ Îç∞Ïù¥ÌÑ∞Î•º ÌÜµÌï¥ ÌÅ¥Îü¨Ïä§ÌÑ∞ÎßàÎã§ Í∞ÄÏû• ÎÜíÏùÄ Î≥ÑÏ†ê top 5Î•º Ï∂îÏ≤úÌï¥Ï§ÄÎã§.

In [193]:
from sklearn.metrics import ndcg_score

def get_NDCG(pred_data, test_data, num=6):

    #Í∞Å ÌÅ¥Îü¨Ïä§ÌÑ∞ Î≥Ñ Í≤∞Í≥º
    result = [0]*num

    #Í∞Å ÌÅ¥Îü¨Ïä§ÌÑ∞ Î≥Ñ Ïù∏ÏõêÏàò
    length = list(test_data.cluster.value_counts().sort_index())

    for idx in test_data.index:

        # -1 Ìï¥Îãπ user Ïùò Í∑∏Î£πÏùÑ ÌôïÏù∏
        cluster_num = int(test_data.loc[idx].cluster) 
        
        # -2 train ÏóêÏÑúÏùò ÏòàÏ∏°ÏπòÏôÄ test Îç∞Ïù¥ÌÑ∞ Í∞Ñ Í∞Å user Î≥Ñ ÌèâÏ†ê NDCG Í∞í Í≥ÑÏÇ∞
        result[cluster_num] += ndcg_score([test_data.loc[idx][:-1]], [pred_data.loc[cluster_num]], k=300) #  k=10

        # ndcg Îäî ÏÉÅÏúÑ kÏùò Í≤ÉÏùÑ ÎåÄÏÉÅÏúºÎ°ú Ï†êÏàòÎ•º Îß§Í∏∏ Ïàò ÏûàÎã§.
        #result[cluster] += ndcg_score([user_item_test_cl.loc[idx][:-1]], [mean_rating.loc[cluster]], k=4)

    ## 5. ÏµúÏ¢ÖÏ†ÅÏúºÎ°ú Í∞Å nDCGÍ∞í / Í∞Å clusterÏùò ÏöîÏÜå Í∞úÏàò
    for i in range(6):
        # ÌÅ¥Îü¨Ïä§ÌÑ∞ Î≥Ñ Ïú†Ï†Ä NDCG Ïùò ÌèâÍ∑†
        result[i] = result[i]/length[i]

    print(f"cluster Ïàò : {len(length)}\ncluster Î≥Ñ Ïù∏Ïõê Ïàò : {length}")
    print(f"Ï¥ù NDCG : {(sum(result)/len(length)):.4f} \n\n ")

get_NDCG(pred_data, test_data)

cluster Ïàò : 6
cluster Î≥Ñ Ïù∏Ïõê Ïàò : [131, 32, 62, 126, 90, 18]
Ï¥ù NDCG : 0.3671

In [196]:
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score

# precision & recall
def get_pre_rec(pred_data, test_data):


    # 1. Ï†ÑÏ≤òÎ¶¨
    # ÌèâÏ†êÏù¥ 2.5 Ïù¥ÏÉÅÏù¥Î©¥ Ï†ïÎãµ, ÏïÑÎãå Í≤ÉÏùÄ Ïò§ÎãµÏúºÎ°ú ÌèâÍ∞ÄÌïòÏòÄÎã§.
    pred_data[pred_data < 2.5]= 0 #ÏõêÎûòÎäî 4 Ïù¥ÏÉÅÏúºÎ°ú Ï∏°Ï†ï
    pred_data[pred_data >= 2.5]= 1

    # test Îç∞Ïù¥ÌÑ∞ Ïó¥ÏóêÎäî cluster Ï†ïÎ≥¥Í∞Ä ÏûàÍ∏∞ ÎïåÎ¨∏Ïóê Î∞±ÏóÖÌïòÎäî ÏûëÏóÖÏùÑ Í±∞ÏπúÎã§.
    test_data_cluster = test_data[['cluster']].copy()
    test_data[test_data < 2.5] = 0
    test_data[test_data >= 2.5] = 1
    test_data[['cluster']] = test_data_cluster


    # 2. pre rec Í≥ÑÏÇ∞
    pre_result = [0]*6 # Í≤∞Í≥ºÍ∞í Ï†ÄÏû• Î¶¨Ïä§Ìä∏
    rec_result = [0]*6

    length = list(test_data.cluster.value_counts().sort_index())

    ## 4. Í∞Å Í≤∞Í≥º Í∞íÏóê precision, recallÎçîÌï¥Ï§å
    for idx in test_data.index:
        cluster_num = int(test_data.loc[idx].cluster)
        pre_result[cluster_num] += precision_score(list(test_data.loc[idx][:-1].values) ,list(pred_data.loc[cluster_num].values ), average = 'binary')
        rec_result[cluster_num] += recall_score(list(test_data.loc[idx][:-1].values) ,list(pred_data.loc[cluster_num].values ), average = 'binary')

    for i in range(6):
        # ÌÅ¥Îü¨Ïä§ÌÑ∞ Î≥Ñ Ïú†Ï†Ä PRE/REC Ïùò ÌèâÍ∑†
        pre_result[i] = pre_result[i]/length[i]
        rec_result[i] = rec_result[i]/length[i]

    print(f"cluster Ïàò : {len(length)}\ncluster Î≥Ñ Ïù∏Ïõê Ïàò : {length}")
    print(f"Presicion : {(sum(pre_result)/len(length)):.4f}")
    print(f"recall : {(sum(rec_result)/len(length)):.4f}")

In [197]:
get_pre_rec(pred_data, test_data)

cluster Ïàò : 6
cluster Î≥Ñ Ïù∏Ïõê Ïàò : [131, 32, 62, 126, 90, 18]
Presicion : 0.0000
recall : 0.0000

## 2. Least Misery Î•º ÌÜµÌïú Ï∂îÏ≤ú

In [198]:
train_data, test_data = clustering(6, Ratings, user_train, user_test)

#Í∞Å ÌÅ¥Îü¨Ïä§ÌÑ∞ Îãπ Ïù∏ÏõêÏàò
train_data['cluster'].value_counts().sort_index()

0     66
1    136
2    199
3     42
4    236
5    263
Name: cluster, dtype: int64

In [199]:
def cluster_LM(train_data):
    #train Îç∞Ïù¥ÌÑ∞Î•º ÌÅ¥Îü¨Ïä§ÌÑ∞ÎßÅÏúºÎ°ú index Ï≤òÎ¶¨
    
    mean_rating = pd.DataFrame(columns = train_data.columns)
    mean_rating.set_index('cluster')
    mean_rating

    num = 6

    # ÌÅ¥Îü¨Ïä§ÌÑ∞ Î≥Ñ ÏÇ¨Ïö©ÏûêÎì§Ïùò ÏòÅÌôî ÌèâÍ∑† Î≥ÑÏ†ê ÎèÑÏ∂ú (ÏïÑÎ¨¥ÎèÑ Î≥¥ÏßÄ ÏïäÏùÄ Í≤ÉÏùÄ NanÍ∞í Ï≤òÎ¶¨ ÎêúÎã§.)
    for i in range(num):
        mean_rating = mean_rating.append(train_data[train_data.cluster == i].min(axis=0), ignore_index=True) 

    return mean_rating.drop(['cluster'], axis=1)

LM_rating = cluster_LM(train_data)

In [200]:
pred_data, test_data =  miss_matching(LM_rating,test_data)

In [201]:
pred_data = pred_data.fillna(0)
test_data = test_data.fillna(0)

In [202]:
get_NDCG(pred_data, test_data)

cluster Ïàò : 6
cluster Î≥Ñ Ïù∏Ïõê Ïàò : [35, 61, 98, 18, 125, 122]
Ï¥ù NDCG : 0.1016

LM Î∞©ÏãùÏúºÎ°ú ÌñàÏùÑ Îïå NDCG Í∞íÏù¥ ÏïΩ 0.2 ÎßåÌÅº Îñ®Ïñ¥ÏßÑÎã§.

In [203]:
get_pre_rec(pred_data, test_data)

cluster Ïàò : 6
cluster Î≥Ñ Ïù∏Ïõê Ïàò : [35, 61, 98, 18, 125, 122]
Presicion : 0.0000
recall : 0.0000

---

In [208]:
user_train #nan Í∞íÏúºÎ°ú Ï±ÑÏõåÏßÑ train Îç∞Ïù¥ÌÑ∞

itemID,1,2,3,4,5,6,7,8,9,10,...,1673,1674,1675,1676,1677,1678,1679,1680,1681,1682
userID,,,,,,,,,,,,,,,,,,,,,
1,5.0,3.0,4.0,3.0,3.0,NaN,4.0,1.0,5.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
940,NaN,NaN,NaN,2.0,NaN,NaN,4.0,5.0,3.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
941,5.0,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
942,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
943,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [204]:
Ratings #  MF Î°ú Î™®Îì† Î≥ÑÏ†êÏùÑ Ï±ÑÏö¥ Î≤ÑÏ†Ñ

,0,1,2,3,4,5,6,7,8,9,...,1640,1641,1642,1643,1644,1645,1646,1647,1648,1649
0,4.080783,3.105075,3.802179,3.739923,3.404238,3.538765,3.872827,3.764835,4.283478,3.862410,...,2.080672,2.153241,3.143997,2.510603,2.744466,2.334731,2.995038,2.459726,1.780943,3.224237
1,4.139741,3.401644,3.009595,3.671248,3.488930,3.721358,3.883205,4.162529,3.994967,3.913301,...,2.522858,2.512630,2.847540,2.569968,2.578417,2.585012,3.086535,2.435236,2.194503,3.009415
2,3.812366,2.541412,2.631012,2.892696,3.049660,2.968664,3.263037,3.445256,3.679177,3.049477,...,2.087686,1.903964,2.421638,2.296500,2.525421,1.966207,2.509840,2.288322,1.648895,2.673915
3,4.365309,4.104658,3.656998,4.355253,4.028333,4.991767,5.044913,5.039673,4.485047,5.312385,...,3.194719,3.571967,3.316243,3.088087,2.814687,3.291098,3.835163,2.587822,3.023613,3.555578
4,3.593027,3.539493,2.962253,3.827104,3.081620,2.906670,2.953503,3.463096,3.261872,3.280941,...,1.787562,1.750811,2.820216,1.849225,1.964371,2.367268,2.675956,1.920003,1.661421,2.538068
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
938,5.207394,4.426681,3.615326,4.655460,4.575027,4.696923,4.812633,5.291031,4.750219,4.965793,...,3.236877,3.173927,3.555299,3.113396,3.233136,3.323435,3.848536,2.885239,2.884222,3.684983
939,3.438722,3.015706,2.437885,3.115329,3.179988,3.548306,3.581239,3.767293,3.205392,3.729757,...,2.426728,2.513905,2.375810,2.239195,2.224985,2.383906,2.736020,1.907813,2.236562,2.557144
940,4.399331,3.475677,3.630721,3.968373,3.693083,3.723816,3.988878,4.138629,4.339818,4.016469,...,2.353886,2.330675,3.210518,2.613850,2.830984,2.572275,3.169721,2.563716,2.023777,3.277864
941,4.270895,3.638857,3.098937,3.839040,3.846248,4.160875,4.254241,4.493551,4.009143,4.391656,...,2.819349,2.872302,2.966109,2.699632,2.748011,2.825610,3.290355,2.392754,2.554145,3.148578
942,3.913846,3.537424,3.263263,3.929395,2.951724,3.558064,3.752526,4.008776,4.237518,3.789263,...,2.245693,2.401803,2.940142,2.555545,2.172469,2.600420,3.175353,2.598245,1.930364,3.018035

In [210]:
train_data # cluster Í∞Ä ÌëúÍ∏∞ÎêòÏñ¥ ÏûàÎäî train Îç∞Ïù¥ÌÑ∞

,1,2,3,4,5,6,7,8,9,10,...,1674,1675,1676,1677,1678,1679,1680,1681,1682,cluster
1,5.0,3.0,4.0,3.0,3.0,0.0,4.0,1.0,5.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4
2,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
938,4.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,3.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
939,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5
940,0.0,0.0,0.0,2.0,0.0,0.0,4.0,5.0,3.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2
941,5.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2
942,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4

In [211]:
test_data #ÌÖåÏä§Ìä∏ Îç∞Ïù¥ÌÑ∞

,1,2,3,4,5,6,7,8,9,10,...,1530,1531,1534,1538,1550,1554,1555,1578,1591,cluster
1,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
5,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
457,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5
458,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5
459,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5
460,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
462,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1

In [213]:
km_center

NameError: name 'km_center' is not defined

<h2>3. ÎÇ¥Ïâ¨ Í∑†ÌòïÏùÑ Ïù¥Ïö©Ìïú Ï∂îÏ≤ú</h2>

In [ ]:
import nashpy as nash

ntrainData = train_data