# ğŸ¤”Movie lens ë‚´ì‰¬ê· í˜•ì„ ì´ìš©í•´ì„œ ì–´ì©Œêµ¬

### context

1. Data load
2. SVD í‰ì  ì˜ˆì¸¡
3. Clustering
4. NASH aggregation
5. Measure

## ë°ì´í„° LOAD

## Library

In [1]:
#ê¸°ë³¸ ë¼ì´ë¸ŒëŸ¬ë¦¬
import pandas as pd
import numpy as np
import math

# SVD í–‰ë ¬ì¶•ì†Œ
from sklearn.decomposition import TruncatedSVD

# ì œì‘ í•¨ìˆ˜
import HA_ndcg

In [2]:

#ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°
ratings = pd.read_csv("u.data.txt", header=None, sep='\t')

#ì»¬ëŸ¼ëª… ìˆ˜ì •
ratings.columns = ['userid','movieid','rating','timestamp']

#ì‹œê°„ ì»¬ëŸ¼ ì œê±°
ratings = ratings.drop(['timestamp'], axis=1)

print("ì´ ì£¼ì–´ì§„ ratings ë°ì´í„° : ", ratings.shape)

#í”¼ë²—í…Œì´ë¸”ë¡œ ë§Œë“¤ì–´ì„œ ì‚¬ìš©ì-ì•„ì´í…œ í–‰ë ¬ í™•ì¸í•˜ê¸°
rating_table= pd.pivot_table(ratings, values='rating', index=['userid'], columns=['movieid'])
rating_table

ì´ ì£¼ì–´ì§„ ratings ë°ì´í„° :  (100000, 3)

movieid,1,2,3,4,5,6,7,8,9,10,...,1673,1674,1675,1676,1677,1678,1679,1680,1681,1682
userid,,,,,,,,,,,,,,,,,,,,,
1,5.0,3.0,4.0,3.0,3.0,5.0,4.0,1.0,5.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,4.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
940,NaN,NaN,NaN,2.0,NaN,NaN,4.0,5.0,3.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
941,5.0,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
942,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
943,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Trian ë°ì´í„°ì™€ Test ë°ì´í„°ëŠ” 10ë§Œê°œì˜ ë°ì´í„°ë¥¼ 8ë§Œê°œì™€ 2ë§Œê°œë¡œ ë‚˜ëˆ„ì–´ ë¶„ë¥˜í–ˆë‹¤.  
ì´í›„ pivot í•˜ì—¬ User-item matrixë¥¼ ë§Œë“¤ì—ˆë‹¤.

In [3]:
# 80000 row
user_train = pd.read_csv('../ml-100k_GRS/u1.base', sep='\t',names=["userID","itemID","rating","timestamp"],header=None, na_filter=False)
user_train = user_train[['userID','itemID','rating']]
user_train = user_train.pivot_table('rating', index = 'userID',columns = 'itemID')


# 20000 row
user_test = pd.read_csv('../ml-100k_GRS/u1.test', sep='\t',names=["userID","itemID","rating","timestamp"],header=None, na_filter=False)
user_test = user_test[['userID','itemID','rating']]
user_test = user_test.pivot_table('rating', index = 'userID',columns = 'itemID')

## 2. SVD ë¡œ í‰ì  ì˜ˆì¸¡

ë‚´ì‰¬ê· í˜•ì„ ë„ì¶œí•˜ê¸° ìœ„í•´ ìš°ì„  ëª¨ë“  ì˜í™”ë“¤ì— ëŒ€í•œ ì˜ˆì¸¡í‰ì ì„ ì•Œê³  ìˆë‹¤ê³  ê°€ì •í–ˆë‹¤.  
ì˜ˆì¸¡í‰ì ì€ truncated SVD ë¥¼ ì´ìš©í•´ êµ¬í˜„í–ˆë‹¤.

<a href="https://data-science-hi.tistory.com/82">SVD ë¥¼ í†µí•œ í‰ì ì˜ˆì¸¡</a><br>
<a herf="The Algorithm: Item-based Filtering Enhanced by SVD">The Algorithm: Item-based Filtering Enhanced by SVD</a>

1. ê° ì•„ì´í…œ (coloumn) ë³„ í‰ê· ì„ êµ¬í•´ ê²°ì¸¡ì¹˜ë¥¼ ëŒ€ì²´
2. ëŒ€ì²´ëœ í–‰ë ¬ì— ê° ì‚¬ìš©ì (row) ë³„ í‰ê· ì„ ë¹¼ì„œ ì •ê·œí™”
3. íŠ¹ì‡ê°’ ë¶„í•´(SVD) í›„ í–‰ë ¬ ì¶•ì†Œ(K=12)
4. íŠ¹ì§•ì„ ê°€ì§€ê³  ìˆëŠ” ëŒ€ê°í–‰ë ¬ Sigma ìœ¼ë¡œ ìœ ì‚¬ í–‰ë ¬ ë„ì¶œ
5. 2ë²ˆì—ì„œ ëºë˜ ê° ì‚¬ìš©ì (row) ë³„ í‰ê· ì„ ë”í•´ì„œ ì˜ˆì¸¡í‰ì  êµ¬í˜„

(ref - íŒŒì´ì¬ ë¨¸ì‹ ëŸ¬ë‹ ì™„ë²½ê°€ì´ë“œ - 571p)

In [4]:
# ê²°ì¸¡ì¹˜ ëŒ€ì²´ ì „ ê° í–‰ë ¬ ë³„ í‰ê· ê°’ ê³„ì‚°
row_mean= list(rating_table.mean(axis=1))
col_mean= list(rating_table.mean())

print(f"5 ë²ˆì§¸ í–‰ê¹Œì§€ì˜ ê° ì‚¬ìš©ìë³„ í‰ê·  :\n {row_mean[:5]}\n")
print(f"3 ë²ˆì§¸ ì—´ê¹Œì§€ì˜ ê° ì˜í™”ë³„ í‰ê·  : \n {col_mean[:3]}")

5 ë²ˆì§¸ í–‰ê¹Œì§€ì˜ ê° ì‚¬ìš©ìë³„ í‰ê·  :
 [3.610294117647059, 3.7096774193548385, 2.7962962962962963, 4.333333333333333, 2.874285714285714]

3 ë²ˆì§¸ ì—´ê¹Œì§€ì˜ ê° ì˜í™”ë³„ í‰ê·  :
 [3.8783185840707963, 3.2061068702290076, 3.033333333333333]

In [5]:

# 1. ì•„ì´í…œ ë³„ í‰ê·  ëŒ€ì²´
def Rating_filled_in(rating_table):
    for col in range(len(rating_table.columns)):
        
        # ì—´ì˜ í‰ê· ì„ êµ¬í•œë‹¤.
        col_num = [i for i in rating_table.iloc[:,col] if math.isnan(i)==False]
        col_mean = sum(col_num)/len(col_num)
        
        # NaNì„ ê°€ì§„ í–‰ì€ ìœ„ì—ì„œ êµ¬í•œ í‰ê·  ê°’ìœ¼ë¡œ ì±„ì›Œì¤€ë‹¤.
        col_update = [i if math.isnan(i)==False else col_mean for i in rating_table.iloc[:,col]]
        rating_table.iloc[:,col] = col_update
        
    return rating_table


# 2. ê° ì‚¬ìš©ì ë³„ í‰ê· ì„ ë¹¼ì£¼ë©° ì •ê·œí™”
def Rating_norm(rating_table):
    
    #ì¶”í›„ì— ë‹¤ì‹œ ë”í•˜ê¸° ìœ„í•´ ê° í–‰ë³„ í‰ê· ì„ ì €ì¥
    row_mean_data = []

    for row in range(len(rating_table)):
        

        # í–‰ì˜ í‰ê· ì„ êµ¬í•œë‹¤.
        row_mean= sum(rating_table.iloc[row,:])/len(rating_table.iloc[row,:])
        
        # 1í–‰ë¶€í„° ë§ˆì§€ë§‰í–‰ê¹Œì§€ì˜ í‰ê·  ë°ì´í„° ì €ì¥  
        row_mean_data.append(row_mean)

        # í•´ë‹¹ í–‰ì˜ ëª¨ë“  ê°’ì— í–‰ í‰ê·  ê°’ì„ ëº€ë‹¤.
        row_update = [i - row_mean for i in rating_table.iloc[row,:]]
        rating_table.iloc[row,:] = row_update

    return rating_table, row_mean_data

In [6]:
rating_table = Rating_filled_in(rating_table)
rating_table, row_mean_data = Rating_norm(rating_table)

In [7]:

# 3. íŠ¹ì‡ê°’ ë¶„í•´ ë° í–‰ë ¬ ì¶•ì†Œ 
# 4. Sigmaë¡œ ìœ ì‚¬í–‰ë ¬ ë„ì¶œ

def Rating_svd(rating_table):
    # TruncatedSVDë¥¼ ì‚¬ìš©í•´ì„œ ì°¨ì›ì¶•ì†Œ ( n_iter : ëœë¤ SVD ê³„ì‚° ë°˜ë³µíšŸìˆ˜ )
    svd = TruncatedSVD(n_components=12, n_iter=5)
    svd.fit(np.array(rating_table))

    # íŠ¹ì‡ê°’ ë¶„í•´ëœ í–‰ë ¬ U, S, V
    U     = svd.fit_transform(np.array(rating_table))
    Sigma = svd.explained_variance_ratio_
    VT    = svd.components_

    print(f'ì¶”ì¶œëœ sigmaì˜ feature : \n {Sigma} \n')

    # Sigma ì œê³±ê·¼ì²˜ë¦¬ í›„ ìœ ì‚¬í–‰ë ¬ ë„ì¶œ
    ratings_reduced= pd.DataFrame(np.matmul(np.matmul(U, np.diag(Sigma)), VT))

    return ratings_reduced

In [8]:
rating_table = Rating_svd(rating_table)

ì¶”ì¶œëœ sigmaì˜ feature :
 [0.00672522 0.03242554 0.02168058 0.01787877 0.01457224 0.01213313
 0.01104605 0.0103293  0.00966095 0.00887667 0.00861798 0.00816571]

í•´ë‹¹ ìˆ˜ì¹˜ì— ì²˜ìŒ ëºë˜ ì‚¬ìš©ì ë³„ í‰ê· ì„ ë‹¤ì‹œ ë”í•´ì£¼ë©° task ë¥¼ ë§ˆì¹œë‹¤.

In [9]:
# 5. ì •ê·œí™” í•´ì œ

def Rating_predict(ratings_table, row_mean_data):
    for row in range(len(ratings_table)):
        # í•´ë‹¹ í–‰ì˜ ëª¨ë“  ì»¬ëŸ¼ ê°’ì— í–‰ í‰ê·  ê°’ì„ ë”í•œë‹¤.
        ratings_table.iloc[row,:] = row_mean_data[row] + ratings_table.iloc[row,:]
    return ratings_table

preprocessed_rating = Rating_predict(rating_table,row_mean_data)

In [10]:
preprocessed_rating

,0,1,2,3,4,5,6,7,8,9,...,1672,1673,1674,1675,1676,1677,1678,1679,1680,1681
0,3.095428,3.092020,3.090165,3.099352,3.087542,3.094451,3.102707,3.096840,3.098864,3.096033,...,3.088854,3.095256,3.088854,3.082452,3.088854,3.076050,3.088854,3.082452,3.088854,3.088854
1,3.085078,3.080465,3.079462,3.083997,3.081443,3.084013,3.085056,3.086362,3.086927,3.085265,...,3.079527,3.086158,3.079527,3.072896,3.079527,3.066264,3.079527,3.072896,3.079527,3.079527
2,3.062576,3.061188,3.059040,3.064006,3.060356,3.063091,3.062048,3.067489,3.065683,3.065312,...,3.060240,3.067056,3.060240,3.053424,3.060240,3.046608,3.060240,3.053424,3.060240,3.060240
3,3.097288,3.089995,3.089522,3.091918,3.091555,3.093218,3.096418,3.094705,3.094689,3.094871,...,3.088596,3.095354,3.088596,3.081839,3.088596,3.075082,3.088596,3.081839,3.088596,3.088596
4,3.035507,3.036638,3.037423,3.040466,3.036774,3.043759,3.046276,3.039644,3.041971,3.045692,...,3.038443,3.045642,3.038443,3.031243,3.038443,3.024043,3.038443,3.031243,3.038443,3.038443
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
938,3.119458,3.110239,3.109382,3.110595,3.111461,3.110027,3.117075,3.114513,3.111747,3.111772,...,3.105951,3.112516,3.105951,3.099385,3.105951,3.092819,3.105951,3.099385,3.105951,3.105951
939,3.062814,3.059123,3.058009,3.058274,3.060507,3.061041,3.062463,3.062382,3.060294,3.062931,...,3.057481,3.064401,3.057481,3.050561,3.057481,3.043642,3.057481,3.050561,3.057481,3.057481
940,3.088983,3.081976,3.081084,3.084369,3.082396,3.084498,3.086687,3.087216,3.086492,3.086121,...,3.080023,3.086700,3.080023,3.073345,3.080023,3.066667,3.080023,3.073345,3.080023,3.080023
941,3.110992,3.101930,3.099475,3.103735,3.102124,3.102603,3.103505,3.107375,3.104566,3.103300,...,3.098774,3.105255,3.098774,3.092294,3.098774,3.085813,3.098774,3.092294,3.098774,3.098774
942,3.078257,3.074471,3.075645,3.077171,3.077554,3.077536,3.083886,3.078984,3.082224,3.079624,...,3.073538,3.080288,3.073538,3.066789,3.073538,3.060040,3.073538,3.066789,3.073538,3.073538

---

## 3. í´ëŸ¬ìŠ¤í„°ë§

In [11]:
from sklearn.cluster import KMeans

# SVD ê¸°ë°˜ í´ëŸ¬ìŠ¤í„°ë§ í•œ ì• ë“¤ì„ pure í•œ train, test set ì— ì ìš©
def clustering(num, SVD_ratings, train_data, test_data):
    
    # 1. clusturing
    km = KMeans(n_clusters=num, init='k-means++')
    cluster = km.fit(SVD_ratings)
    cluster_id = pd.DataFrame(cluster.labels_)                   # ëª¨ë“   userì— í´ëŸ¬ìŠ¤í„° n ì´ í‘œì‹œë¨

    cluster_id.index = SVD_ratings.index                        # userId ì¹¼ëŸ¼ì„ ì¸ë±ìŠ¤ë¡œ ì„¤ì • 1~943
    cluster_id.rename(columns = {0 : 'cluster'}, inplace = True) # ëª¨ë“   userì˜ í´ëŸ¬ìŠ¤í„°


    ## 2. train, test ì— cluster ì •ë³´ ì¶”ê°€
    train_data = pd.concat([train_data, cluster_id], axis=1, join='inner')
    test_data = pd.concat([test_data, cluster_id], axis=1, join='inner')

    return train_data, test_data

In [12]:
train_data, test_data = clustering(6, preprocessed_rating, user_train, user_test)

#ê° í´ëŸ¬ìŠ¤í„° ë‹¹ ì¸ì›ìˆ˜
train_data['cluster'].value_counts()

5    632
1    156
2    106
0     27
4     19
3      2
Name: cluster, dtype: int64

# 1. Average ë¥¼ í†µí•œ ì¶”ì²œ

In [30]:
# cluster ë³„ ì˜í™” ë³„ì  í‰ê·  í–‰ë ¬ê°’ (index : cluster)
def cluster_mean(train_data):
    #train ë°ì´í„°ë¥¼ í´ëŸ¬ìŠ¤í„°ë§ìœ¼ë¡œ index ì²˜ë¦¬
    
    mean_rating = pd.DataFrame(columns = train_data.columns)
    mean_rating.set_index('cluster')
    mean_rating

    num = 6

    # í´ëŸ¬ìŠ¤í„° ë³„ ì‚¬ìš©ìë“¤ì˜ ì˜í™” í‰ê·  ë³„ì  ë„ì¶œ (ì•„ë¬´ë„ ë³´ì§€ ì•Šì€ ê²ƒì€ Nanê°’ ì²˜ë¦¬ ëœë‹¤.)
    for i in range(num):
        mean_rating = mean_rating.append(train_data[train_data.cluster == i].mean(axis=0), ignore_index=True) 

    return mean_rating.drop(['cluster'], axis=1)

mean_rating = cluster_mean(train_data)

In [31]:
# train ë°ì´í„°ì™€ test ë°ì´í„°ì—ì„œ ê²¹ì¹˜ì§€ ì•ŠëŠ” ì•„ì´í…œ(ì˜í™”) ë¥¼ ì œê±°í•œë‹¤.

def miss_matching(mean_data, test_data):

    for c in mean_data.columns:
        if c not in test_data.columns:
            del mean_data[c]
        
    for c in test_data.columns[:-1]:
        if c not in mean_data.columns:
            del test_data[c]

    return mean_data, test_data

pred_data, test_data =  miss_matching(mean_rating,test_data)

In [37]:
# top k ë¥¼ ë½‘ì„ ë•Œ
pred_data[0:1].sort_values(by=0,axis=1, ascending=False)

,1175,1367,850,853,1449,169,408,318,64,12,...,1189,1306,1307,1316,1318,1334,1354,1361,1470,1500
0,5.0,5.0,5.0,4.666667,4.666667,4.546875,4.508475,4.473373,4.411392,4.409091,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
print(f'ì˜ˆì¸¡ëœ í´ëŸ¬ìŠ¤í„°ë§ ë³„ item í‰ì ê³¼ ì˜ˆì¸¡í•  test itemì€ \n{pred_data.shape}, {test_data.shape} ë¡œ ë™ì¼í•´ì¡Œë‹¤.')

ì˜ˆì¸¡ëœ í´ëŸ¬ìŠ¤í„°ë§ ë³„ item í‰ì ê³¼ ì˜ˆì¸¡í•  test itemì€
(6, 1378), (459, 1379) ë¡œ ë™ì¼í•´ì¡Œë‹¤.

In [16]:
#ndcg ê°’ì„ êµ¬í•˜ê¸° ìœ„í•´ ì¶”ì²œë˜ì§€ ì•Šì€ ì•„ì´í…œë“¤ì€ 0ì ì„ ì¤€ë‹¤.

pred_data = pred_data.fillna(0, downcast='infer')
test_data = test_data.fillna(0, downcast='infer')

- test ë°ì´í„°ì˜ ë§ˆì§€ë§‰ ì—´ì€ clustering number ì„ ì˜ë¯¸í•œë‹¤

- ì¹¼ëŸ¼ì€ 1682 ê¹Œì§€ ìˆì§€ë§Œ ì•„ë¬´ í´ëŸ¬ìŠ¤í„°ë„ ë³´ì§€ ì•Šì•˜ë˜ í–‰ì€ ìë™ìœ¼ë¡œ ì œê±°ëœë‹¤.

í•´ë‹¹ ë°ì´í„°ë¥¼ í†µí•´ í´ëŸ¬ìŠ¤í„°ë§ˆë‹¤ ê°€ì¥ ë†’ì€ ë³„ì  top 5ë¥¼ ì¶”ì²œí•´ì¤€ë‹¤.

In [17]:
from sklearn.metrics import ndcg_score

def get_NDCG(pred_data, test_data, num=6):

    #ê° í´ëŸ¬ìŠ¤í„° ë³„ ê²°ê³¼
    result = [0]*num

    #ê° í´ëŸ¬ìŠ¤í„° ë³„ ì¸ì›ìˆ˜
    length = list(test_data.cluster.value_counts().sort_index())

    for idx in test_data.index:

        # -1 í•´ë‹¹ user ì˜ ê·¸ë£¹ì„ í™•ì¸
        cluster_num = int(test_data.loc[idx].cluster) 
        
        # -2 train ì—ì„œì˜ ì˜ˆì¸¡ì¹˜ì™€ test ë°ì´í„° ê°„ ê° user ë³„ í‰ì  NDCG ê°’ ê³„ì‚°
        result[cluster_num] += ndcg_score([test_data.loc[idx][:-1]], [pred_data.loc[cluster_num]], k=10)

        # ndcg ëŠ” ìƒìœ„ kì˜ ê²ƒì„ ëŒ€ìƒìœ¼ë¡œ ì ìˆ˜ë¥¼ ë§¤ê¸¸ ìˆ˜ ìˆë‹¤.
        #result[cluster] += ndcg_score([user_item_test_cl.loc[idx][:-1]], [mean_rating.loc[cluster]], k=4)

    ## 5. ìµœì¢…ì ìœ¼ë¡œ ê° nDCGê°’ / ê° clusterì˜ ìš”ì†Œ ê°œìˆ˜
    for i in range(6):
        # í´ëŸ¬ìŠ¤í„° ë³„ ìœ ì € NDCG ì˜ í‰ê· 
        result[i] = result[i]/length[i]

    print(f"cluster ìˆ˜ : {len(length)}\ncluster ë³„ ì¸ì› ìˆ˜ : {length}")
    print(f"ì´ NDCG : {(sum(result)/len(length)):.4f} \n\n ")

get_NDCG(pred_data, test_data)

cluster ìˆ˜ : 6
cluster ë³„ ì¸ì› ìˆ˜ : [16, 78, 48, 2, 10, 305]
ì´ NDCG : 0.0170

In [18]:
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score

# precision & recall
def get_pre_rec(pred_data, test_data):


    # 1. ì „ì²˜ë¦¬
    # í‰ì ì´ 2.5 ì´ìƒì´ë©´ ì •ë‹µ, ì•„ë‹Œ ê²ƒì€ ì˜¤ë‹µìœ¼ë¡œ í‰ê°€í•˜ì˜€ë‹¤.
    pred_data[pred_data < 2.5]= 0
    pred_data[pred_data >= 2.5]= 1

    # test ë°ì´í„° ì—´ì—ëŠ” cluster ì •ë³´ê°€ ìˆê¸° ë•Œë¬¸ì— ë°±ì—…í•˜ëŠ” ì‘ì—…ì„ ê±°ì¹œë‹¤.
    test_data_cluster = test_data[['cluster']].copy()
    test_data[test_data < 2.5] = 0
    test_data[test_data >= 2.5] = 1
    test_data[['cluster']] = test_data_cluster


    # 2. pre rec ê³„ì‚°
    pre_result = [0]*6 # ê²°ê³¼ê°’ ì €ì¥ ë¦¬ìŠ¤íŠ¸
    rec_result = [0]*6

    length = list(test_data.cluster.value_counts().sort_index())

    ## 4. ê° ê²°ê³¼ ê°’ì— precision, recallë”í•´ì¤Œ
    for idx in test_data.index:
        cluster_num = int(test_data.loc[idx].cluster)
        pre_result[cluster_num] += precision_score(list(test_data.loc[idx][:-1].values) ,list(pred_data.loc[cluster_num].values ), average = 'binary')
        rec_result[cluster_num] += recall_score(list(test_data.loc[idx][:-1].values) ,list(pred_data.loc[cluster_num].values ), average = 'binary')

    for i in range(6):
        # í´ëŸ¬ìŠ¤í„° ë³„ ìœ ì € PRE/REC ì˜ í‰ê· 
        pre_result[i] = pre_result[i]/length[i]
        rec_result[i] = rec_result[i]/length[i]

    print(f"cluster ìˆ˜ : {len(length)}\ncluster ë³„ ì¸ì› ìˆ˜ : {length}")
    print(f"Presicion : {(sum(pre_result)/len(length)):.4f}")
    print(f"recall : {(sum(rec_result)/len(length)):.4f}")

In [19]:
get_pre_rec(pred_data, test_data)

cluster ìˆ˜ : 6
cluster ë³„ ì¸ì› ìˆ˜ : [16, 78, 48, 2, 10, 305]
Presicion : 0.0352
recall : 0.7440

In [20]:
### top k ê°œ ë§Œí¼ ê²€ì‚¬

from collections import defaultdict


def precision_recall_at_k(predictions, k=10, threshold=3.5):
    """Return precision and recall at k metrics for each user"""

    # First map the predictions to each user.
    user_est_true = defaultdict(list)
    for uid, _, true_r, est, _ in predictions:
        user_est_true[uid].append((est, true_r))

    precisions = dict()
    recalls = dict()
    for uid, user_ratings in user_est_true.items():

        # Sort user ratings by estimated value
        user_ratings.sort(key=lambda x: x[0], reverse=True)

        # Number of relevant items
        n_rel = sum((true_r >= threshold) for (_, true_r) in user_ratings)

        # Number of recommended items in top k
        n_rec_k = sum((est >= threshold) for (est, _) in user_ratings[:k])

        # Number of relevant and recommended items in top k
        n_rel_and_rec_k = sum(
            ((true_r >= threshold) and (est >= threshold))
            for (est, true_r) in user_ratings[:k]
        )

        # Precision@K: Proportion of recommended items that are relevant
        # When n_rec_k is 0, Precision is undefined. We here set it to 0.

        precisions[uid] = n_rel_and_rec_k / n_rec_k if n_rec_k != 0 else 0

        # Recall@K: Proportion of relevant items that are recommended
        # When n_rel is 0, Recall is undefined. We here set it to 0.

        recalls[uid] = n_rel_and_rec_k / n_rel if n_rel != 0 else 0

    return precisions, recalls

## 2. Least Misery ë¥¼ í†µí•œ ì¶”ì²œ

In [21]:
train_data, test_data = clustering(6, preprocessed_rating, user_train, user_test)

#ê° í´ëŸ¬ìŠ¤í„° ë‹¹ ì¸ì›ìˆ˜
train_data['cluster'].value_counts().sort_index()

0    632
1     19
2     27
3      2
4    106
5    156
Name: cluster, dtype: int64

In [22]:
def cluster_LM(train_data):
    #train ë°ì´í„°ë¥¼ í´ëŸ¬ìŠ¤í„°ë§ìœ¼ë¡œ index ì²˜ë¦¬
    
    mean_rating = pd.DataFrame(columns = train_data.columns)
    mean_rating.set_index('cluster')
    mean_rating

    num = 6

    # í´ëŸ¬ìŠ¤í„° ë³„ ì‚¬ìš©ìë“¤ì˜ ì˜í™” í‰ê·  ë³„ì  ë„ì¶œ (ì•„ë¬´ë„ ë³´ì§€ ì•Šì€ ê²ƒì€ Nanê°’ ì²˜ë¦¬ ëœë‹¤.)
    for i in range(num):
        mean_rating = mean_rating.append(train_data[train_data.cluster == i].min(axis=0), ignore_index=True) 

    return mean_rating.drop(['cluster'], axis=1)

LM_rating = cluster_LM(train_data)

In [23]:
pred_data, test_data =  miss_matching(LM_rating,test_data)

In [24]:
pred_data = pred_data.fillna(0)
test_data = test_data.fillna(0)

In [25]:
get_NDCG(pred_data, test_data)

cluster ìˆ˜ : 6
cluster ë³„ ì¸ì› ìˆ˜ : [305, 10, 16, 2, 48, 78]
ì´ NDCG : 0.0124

In [26]:
get_pre_rec(pred_data, test_data)

cluster ìˆ˜ : 6
cluster ë³„ ì¸ì› ìˆ˜ : [305, 10, 16, 2, 48, 78]
Presicion : 0.0254
recall : 0.2533

---

ì¼ë‹¨ í–‰ ê¸°ì¤€ìœ¼ë¡œ ì˜¤ë¦„ì°¨ìˆœ ì •ë ¬í•œ ë‹¤ìŒì—, ì•ì— ìˆëŠ” 10ê°œì˜ column ë²ˆí˜¸ë¥¼ ê°€ì ¸ì™€ì„œ ì¶”ì²œí•´ì¤€ë‹¤.

-> 10ê°œì˜ ì»¬ëŸ¼ì„ ê°€ì ¸ì˜¨ë‹¤.

### íŠ¹íˆ, Average ë“  LM ë“ 

ìƒìœ„ 10ê°œê°€ íŒë‹¨ì´ ë˜ì—ˆìœ¼ë©´ ê·¸ 10ê°œì˜ ì•„ì´í…œì„ ê°€ì§€ê³  ë‹¤ì‹œ 5ê°œë¥¼ ì¶”ë ¤ë‚¼ê±´ë°, ê·¸ ë•Œ ê²Œì„ì´ë¡ ì„ ê°€ì ¸ì˜¨ë‹¤.


í´ëŸ¬ìŠ¤í„° ë‚´ë¶€ì—ì„œ ì„ì˜ì˜ ë‘ ëª…. ì„ì˜ì˜ ì•„ì´í…œ ë‘ ê°œë¥¼ ë½‘ëŠ”ë‹¤. 

ê° í”Œë ˆì´ì–´ê°€ 1,2 ë²ˆ ì•„ì´í…œì„ ê³ ë¥¼ì§€ ë§ì§€ë¥¼ ì„ íƒí•˜ê³  ìµœì ì˜ ì „ëµì„ ì°¾ëŠ”ë‹¤.

1,2, 12(ë‘ê°œ ë‹¤ì„ íƒ) ì¤‘ ì–´ë–¤ ê²ƒì´ 

ê°€ì¥ í° íš¨ìœ¨ì„ ë‚´ëŠ”ì§€ ì°¾ì•„ë‚¸ë‹¤.

ê° í´ëŸ¬ìŠ¤í„° ì¸ì›ì˜ 10ë¶„ì˜ 1ë§Œí¼ ì „ëµì„ ì°¾ì•„ì„œ ì¹´ìš´íŒ…ì„ í•œë‹¤.

1,2, 12 ì¤‘ í•˜ë‚˜ë¥¼ ê³ ë¥¸ë‹¤.

---
(12) ê°€ ê°€ì¥ ë§ì´ ê³¨ë¼ì¡Œë‹¤ê³  ê°€ì •í–ˆì„ë•Œ,

12, 3, 123ë²ˆì„ ê³ ë¥¼ì§€ ë§ì§€ ì„ íƒí•˜ëŠ” ì „ëµì„ ì°¾ì•„ì„œ ì¹´ìš´íŒ…ì„ í•œë‹¤.
---
ë°˜ë³µí•˜ë‹¤ë³´ë©´

ê±¸ëŸ¬ë‚´ì•¼ í•  ê²ƒì„ ì°¾ì„ ìˆ˜ ìˆë‹¤. 10ê°œ ì¤‘ 12678 ì²˜ëŸ¼ ì•„ì´í…œì´ ë‹¤ì‹œ ì¶”ë ¤ì§ˆ ê²ƒì´ë‹¤.

ì´ê²ƒì´ 10ê°œì¤‘ ìƒìœ„ 5ê°œë³´ë‹¤ ì´ìƒì ì¸ì§€ë¥¼ ì²´í¬í•œë‹¤.

In [27]:
#LM_rating.iloc[0]
LM_rating.iloc

In [29]:
LM_rating[0:1].sort_values(by=0, axis=1)

,1,755,756,758,759,760,761,762,763,764,...,1189,1306,1307,1316,1318,1334,1354,1361,1470,1500
0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN