# ü§îMovie lens ÎÇ¥Ïâ¨Í∑†ÌòïÏùÑ Ïù¥Ïö©Ìï¥ÏÑú Ïñ¥Ï©åÍµ¨

### context

1. Data load
2. SVD ÌèâÏ†ê ÏòàÏ∏°
3. Clustering
4. NASH aggregation
5. Measure

## Îç∞Ïù¥ÌÑ∞ LOAD

## Library

In [1]:
#Í∏∞Î≥∏ ÎùºÏù¥Î∏åÎü¨Î¶¨
import pandas as pd
import numpy as np
import math

# SVD ÌñâÎ†¨Ï∂ïÏÜå
from sklearn.decomposition import TruncatedSVD

# Ï†úÏûë Ìï®Ïàò
import HA_ndcg

In [2]:

#Îç∞Ïù¥ÌÑ∞ Î∂àÎü¨Ïò§Í∏∞
ratings = pd.read_csv("u.data.txt", header=None, sep='\t')

#Ïª¨ÎüºÎ™Ö ÏàòÏ†ï
ratings.columns = ['userid','movieid','rating','timestamp']

#ÏãúÍ∞Ñ Ïª¨Îüº Ï†úÍ±∞
ratings = ratings.drop(['timestamp'], axis=1)

print("Ï¥ù Ï£ºÏñ¥ÏßÑ ratings Îç∞Ïù¥ÌÑ∞ : ", ratings.shape)

#ÌîºÎ≤óÌÖåÏù¥Î∏îÎ°ú ÎßåÎì§Ïñ¥ÏÑú ÏÇ¨Ïö©Ïûê-ÏïÑÏù¥ÌÖú ÌñâÎ†¨ ÌôïÏù∏ÌïòÍ∏∞
rating_table= pd.pivot_table(ratings, values='rating', index=['userid'], columns=['movieid'])
rating_table

Ï¥ù Ï£ºÏñ¥ÏßÑ ratings Îç∞Ïù¥ÌÑ∞ :  (100000, 3)

movieid,1,2,3,4,5,6,7,8,9,10,...,1673,1674,1675,1676,1677,1678,1679,1680,1681,1682
userid,,,,,,,,,,,,,,,,,,,,,
1,5.0,3.0,4.0,3.0,3.0,5.0,4.0,1.0,5.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,4.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
940,NaN,NaN,NaN,2.0,NaN,NaN,4.0,5.0,3.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
941,5.0,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
942,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
943,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Trian Îç∞Ïù¥ÌÑ∞ÏôÄ Test Îç∞Ïù¥ÌÑ∞Îäî 10ÎßåÍ∞úÏùò Îç∞Ïù¥ÌÑ∞Î•º 8ÎßåÍ∞úÏôÄ 2ÎßåÍ∞úÎ°ú ÎÇòÎàÑÏñ¥ Î∂ÑÎ•òÌñàÎã§.  
Ïù¥ÌõÑ pivot ÌïòÏó¨ User-item matrixÎ•º ÎßåÎì§ÏóàÎã§.

In [3]:
# 80000 row
user_train = pd.read_csv('../ml-100k_GRS/u1.base', sep='\t',names=["userID","itemID","rating","timestamp"],header=None, na_filter=False)
user_train = user_train[['userID','itemID','rating']]
user_train = user_train.pivot_table('rating', index = 'userID',columns = 'itemID')


# 20000 row
user_test = pd.read_csv('../ml-100k_GRS/u1.test', sep='\t',names=["userID","itemID","rating","timestamp"],header=None, na_filter=False)
user_test = user_test[['userID','itemID','rating']]
user_test = user_test.pivot_table('rating', index = 'userID',columns = 'itemID')

## 2. SVD Î°ú ÌèâÏ†ê ÏòàÏ∏°

ÎÇ¥Ïâ¨Í∑†ÌòïÏùÑ ÎèÑÏ∂úÌïòÍ∏∞ ÏúÑÌï¥ Ïö∞ÏÑ† Î™®Îì† ÏòÅÌôîÎì§Ïóê ÎåÄÌïú ÏòàÏ∏°ÌèâÏ†êÏùÑ ÏïåÍ≥† ÏûàÎã§Í≥† Í∞ÄÏ†ïÌñàÎã§.  
ÏòàÏ∏°ÌèâÏ†êÏùÄ truncated SVD Î•º Ïù¥Ïö©Ìï¥ Íµ¨ÌòÑÌñàÎã§.

<a href="https://data-science-hi.tistory.com/82">SVD Î•º ÌÜµÌïú ÌèâÏ†êÏòàÏ∏°</a><br>
<a herf="The Algorithm: Item-based Filtering Enhanced by SVD">The Algorithm: Item-based Filtering Enhanced by SVD</a>

1. Í∞Å ÏïÑÏù¥ÌÖú (coloumn) Î≥Ñ ÌèâÍ∑†ÏùÑ Íµ¨Ìï¥ Í≤∞Ï∏°ÏπòÎ•º ÎåÄÏ≤¥
2. ÎåÄÏ≤¥Îêú ÌñâÎ†¨Ïóê Í∞Å ÏÇ¨Ïö©Ïûê (row) Î≥Ñ ÌèâÍ∑†ÏùÑ ÎπºÏÑú Ï†ïÍ∑úÌôî
3. ÌäπÏûáÍ∞í Î∂ÑÌï¥(SVD) ÌõÑ ÌñâÎ†¨ Ï∂ïÏÜå(K=12)
4. ÌäπÏßïÏùÑ Í∞ÄÏßÄÍ≥† ÏûàÎäî ÎåÄÍ∞ÅÌñâÎ†¨ Sigma ÏúºÎ°ú Ïú†ÏÇ¨ ÌñâÎ†¨ ÎèÑÏ∂ú
5. 2Î≤àÏóêÏÑú Î∫êÎçò Í∞Å ÏÇ¨Ïö©Ïûê (row) Î≥Ñ ÌèâÍ∑†ÏùÑ ÎçîÌï¥ÏÑú ÏòàÏ∏°ÌèâÏ†ê Íµ¨ÌòÑ

(ref - ÌååÏù¥Ïç¨ Î®∏Ïã†Îü¨Îãù ÏôÑÎ≤ΩÍ∞ÄÏù¥Îìú - 571p)

In [4]:
# Í≤∞Ï∏°Ïπò ÎåÄÏ≤¥ Ï†Ñ Í∞Å ÌñâÎ†¨ Î≥Ñ ÌèâÍ∑†Í∞í Í≥ÑÏÇ∞
row_mean= list(rating_table.mean(axis=1))
col_mean= list(rating_table.mean())

print(f"5 Î≤àÏß∏ ÌñâÍπåÏßÄÏùò Í∞Å ÏÇ¨Ïö©ÏûêÎ≥Ñ ÌèâÍ∑† :\n {row_mean[:5]}\n")
print(f"3 Î≤àÏß∏ Ïó¥ÍπåÏßÄÏùò Í∞Å ÏòÅÌôîÎ≥Ñ ÌèâÍ∑† : \n {col_mean[:3]}")

5 Î≤àÏß∏ ÌñâÍπåÏßÄÏùò Í∞Å ÏÇ¨Ïö©ÏûêÎ≥Ñ ÌèâÍ∑† :
 [3.610294117647059, 3.7096774193548385, 2.7962962962962963, 4.333333333333333, 2.874285714285714]

3 Î≤àÏß∏ Ïó¥ÍπåÏßÄÏùò Í∞Å ÏòÅÌôîÎ≥Ñ ÌèâÍ∑† :
 [3.8783185840707963, 3.2061068702290076, 3.033333333333333]

In [5]:

# 1. ÏïÑÏù¥ÌÖú Î≥Ñ ÌèâÍ∑† ÎåÄÏ≤¥
def Rating_filled_in(rating_table):
    for col in range(len(rating_table.columns)):
        
        # Ïó¥Ïùò ÌèâÍ∑†ÏùÑ Íµ¨ÌïúÎã§.
        col_num = [i for i in rating_table.iloc[:,col] if math.isnan(i)==False]
        col_mean = sum(col_num)/len(col_num)
        
        # NaNÏùÑ Í∞ÄÏßÑ ÌñâÏùÄ ÏúÑÏóêÏÑú Íµ¨Ìïú ÌèâÍ∑† Í∞íÏúºÎ°ú Ï±ÑÏõåÏ§ÄÎã§.
        col_update = [i if math.isnan(i)==False else col_mean for i in rating_table.iloc[:,col]]
        rating_table.iloc[:,col] = col_update
        
    return rating_table


# 2. Í∞Å ÏÇ¨Ïö©Ïûê Î≥Ñ ÌèâÍ∑†ÏùÑ ÎπºÏ£ºÎ©∞ Ï†ïÍ∑úÌôî
def Rating_norm(rating_table):
    
    #Ï∂îÌõÑÏóê Îã§Ïãú ÎçîÌïòÍ∏∞ ÏúÑÌï¥ Í∞Å ÌñâÎ≥Ñ ÌèâÍ∑†ÏùÑ Ï†ÄÏû•
    row_mean_data = []

    for row in range(len(rating_table)):
        

        # ÌñâÏùò ÌèâÍ∑†ÏùÑ Íµ¨ÌïúÎã§.
        row_mean= sum(rating_table.iloc[row,:])/len(rating_table.iloc[row,:])
        
        # 1ÌñâÎ∂ÄÌÑ∞ ÎßàÏßÄÎßâÌñâÍπåÏßÄÏùò ÌèâÍ∑† Îç∞Ïù¥ÌÑ∞ Ï†ÄÏû•  
        row_mean_data.append(row_mean)

        # Ìï¥Îãπ ÌñâÏùò Î™®Îì† Í∞íÏóê Ìñâ ÌèâÍ∑† Í∞íÏùÑ Î∫ÄÎã§.
        row_update = [i - row_mean for i in rating_table.iloc[row,:]]
        rating_table.iloc[row,:] = row_update

    return rating_table, row_mean_data

In [6]:
rating_table = Rating_filled_in(rating_table)
rating_table, row_mean_data = Rating_norm(rating_table)

In [7]:

# 3. ÌäπÏûáÍ∞í Î∂ÑÌï¥ Î∞è ÌñâÎ†¨ Ï∂ïÏÜå 
# 4. SigmaÎ°ú Ïú†ÏÇ¨ÌñâÎ†¨ ÎèÑÏ∂ú

def Rating_svd(rating_table):
    # TruncatedSVDÎ•º ÏÇ¨Ïö©Ìï¥ÏÑú Ï∞®ÏõêÏ∂ïÏÜå ( n_iter : ÎûúÎç§ SVD Í≥ÑÏÇ∞ Î∞òÎ≥µÌöüÏàò )
    svd = TruncatedSVD(n_components=12, n_iter=5)
    svd.fit(np.array(rating_table))

    # ÌäπÏûáÍ∞í Î∂ÑÌï¥Îêú ÌñâÎ†¨ U, S, V
    U     = svd.fit_transform(np.array(rating_table))
    Sigma = svd.explained_variance_ratio_
    VT    = svd.components_

    print(f'Ï∂îÏ∂úÎêú sigmaÏùò feature : \n {Sigma} \n')

    # Sigma Ï†úÍ≥±Í∑ºÏ≤òÎ¶¨ ÌõÑ Ïú†ÏÇ¨ÌñâÎ†¨ ÎèÑÏ∂ú
    ratings_reduced= pd.DataFrame(np.matmul(np.matmul(U, np.diag(Sigma)), VT))

    return ratings_reduced

In [8]:
rating_table = Rating_svd(rating_table)

Ï∂îÏ∂úÎêú sigmaÏùò feature :
 [0.00672522 0.03242554 0.02168058 0.01787877 0.01457224 0.01213313
 0.01104605 0.0103293  0.00966095 0.00887667 0.00861798 0.00816571]

Ìï¥Îãπ ÏàòÏπòÏóê Ï≤òÏùå Î∫êÎçò ÏÇ¨Ïö©Ïûê Î≥Ñ ÌèâÍ∑†ÏùÑ Îã§Ïãú ÎçîÌï¥Ï£ºÎ©∞ task Î•º ÎßàÏπúÎã§.

In [9]:
# 5. Ï†ïÍ∑úÌôî Ìï¥Ï†ú

def Rating_predict(ratings_table, row_mean_data):
    for row in range(len(ratings_table)):
        # Ìï¥Îãπ ÌñâÏùò Î™®Îì† Ïª¨Îüº Í∞íÏóê Ìñâ ÌèâÍ∑† Í∞íÏùÑ ÎçîÌïúÎã§.
        ratings_table.iloc[row,:] = row_mean_data[row] + ratings_table.iloc[row,:]
    return ratings_table

preprocessed_rating = Rating_predict(rating_table,row_mean_data)

In [10]:
preprocessed_rating

,0,1,2,3,4,5,6,7,8,9,...,1672,1673,1674,1675,1676,1677,1678,1679,1680,1681
0,3.095428,3.092020,3.090165,3.099352,3.087542,3.094451,3.102707,3.096840,3.098864,3.096033,...,3.088854,3.095256,3.088854,3.082452,3.088854,3.076050,3.088854,3.082452,3.088854,3.088854
1,3.085078,3.080465,3.079462,3.083997,3.081443,3.084013,3.085056,3.086362,3.086927,3.085265,...,3.079527,3.086158,3.079527,3.072896,3.079527,3.066264,3.079527,3.072896,3.079527,3.079527
2,3.062576,3.061188,3.059040,3.064006,3.060356,3.063091,3.062048,3.067489,3.065683,3.065312,...,3.060240,3.067056,3.060240,3.053424,3.060240,3.046608,3.060240,3.053424,3.060240,3.060240
3,3.097288,3.089995,3.089522,3.091918,3.091555,3.093218,3.096418,3.094705,3.094689,3.094871,...,3.088596,3.095354,3.088596,3.081839,3.088596,3.075082,3.088596,3.081839,3.088596,3.088596
4,3.035507,3.036638,3.037423,3.040466,3.036774,3.043759,3.046276,3.039644,3.041971,3.045692,...,3.038443,3.045642,3.038443,3.031243,3.038443,3.024043,3.038443,3.031243,3.038443,3.038443
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
938,3.119458,3.110239,3.109382,3.110595,3.111461,3.110027,3.117075,3.114513,3.111747,3.111772,...,3.105951,3.112516,3.105951,3.099385,3.105951,3.092819,3.105951,3.099385,3.105951,3.105951
939,3.062814,3.059123,3.058009,3.058274,3.060507,3.061041,3.062463,3.062382,3.060294,3.062931,...,3.057481,3.064401,3.057481,3.050561,3.057481,3.043642,3.057481,3.050561,3.057481,3.057481
940,3.088983,3.081976,3.081084,3.084369,3.082396,3.084498,3.086687,3.087216,3.086492,3.086121,...,3.080023,3.086700,3.080023,3.073345,3.080023,3.066667,3.080023,3.073345,3.080023,3.080023
941,3.110992,3.101930,3.099475,3.103735,3.102124,3.102603,3.103505,3.107375,3.104566,3.103300,...,3.098774,3.105255,3.098774,3.092294,3.098774,3.085813,3.098774,3.092294,3.098774,3.098774
942,3.078257,3.074471,3.075645,3.077171,3.077554,3.077536,3.083886,3.078984,3.082224,3.079624,...,3.073538,3.080288,3.073538,3.066789,3.073538,3.060040,3.073538,3.066789,3.073538,3.073538

---

## 3. ÌÅ¥Îü¨Ïä§ÌÑ∞ÎßÅ

In [11]:
from sklearn.cluster import KMeans

# SVD Í∏∞Î∞ò ÌÅ¥Îü¨Ïä§ÌÑ∞ÎßÅ Ìïú Ïï†Îì§ÏùÑ pure Ìïú train, test set Ïóê Ï†ÅÏö©
def clustering(num, SVD_ratings, train_data, test_data):
    
    # 1. clusturing
    km = KMeans(n_clusters=num, init='k-means++')
    cluster = km.fit(SVD_ratings)
    cluster_id = pd.DataFrame(cluster.labels_)                   # Î™®Îì†  userÏóê ÌÅ¥Îü¨Ïä§ÌÑ∞ n Ïù¥ ÌëúÏãúÎê®

    cluster_id.index = SVD_ratings.index                        # userId ÏπºÎüºÏùÑ Ïù∏Îç±Ïä§Î°ú ÏÑ§Ï†ï 1~943
    cluster_id.rename(columns = {0 : 'cluster'}, inplace = True) # Î™®Îì†  userÏùò ÌÅ¥Îü¨Ïä§ÌÑ∞


    ## 2. train, test Ïóê cluster Ï†ïÎ≥¥ Ï∂îÍ∞Ä
    train_data = pd.concat([train_data, cluster_id], axis=1, join='inner')
    test_data = pd.concat([test_data, cluster_id], axis=1, join='inner')

    return train_data, test_data

In [12]:
train_data, test_data = clustering(6, preprocessed_rating, user_train, user_test)

#Í∞Å ÌÅ¥Îü¨Ïä§ÌÑ∞ Îãπ Ïù∏ÏõêÏàò
train_data['cluster'].value_counts()

5    632
1    156
2    106
0     27
4     19
3      2
Name: cluster, dtype: int64

# 1. Average Î•º ÌÜµÌïú Ï∂îÏ≤ú

In [30]:
# cluster Î≥Ñ ÏòÅÌôî Î≥ÑÏ†ê ÌèâÍ∑† ÌñâÎ†¨Í∞í (index : cluster)
def cluster_mean(train_data):
    #train Îç∞Ïù¥ÌÑ∞Î•º ÌÅ¥Îü¨Ïä§ÌÑ∞ÎßÅÏúºÎ°ú index Ï≤òÎ¶¨
    
    mean_rating = pd.DataFrame(columns = train_data.columns)
    mean_rating.set_index('cluster')
    mean_rating

    num = 6

    # ÌÅ¥Îü¨Ïä§ÌÑ∞ Î≥Ñ ÏÇ¨Ïö©ÏûêÎì§Ïùò ÏòÅÌôî ÌèâÍ∑† Î≥ÑÏ†ê ÎèÑÏ∂ú (ÏïÑÎ¨¥ÎèÑ Î≥¥ÏßÄ ÏïäÏùÄ Í≤ÉÏùÄ NanÍ∞í Ï≤òÎ¶¨ ÎêúÎã§.)
    for i in range(num):
        mean_rating = mean_rating.append(train_data[train_data.cluster == i].mean(axis=0), ignore_index=True) 

    return mean_rating.drop(['cluster'], axis=1)

mean_rating = cluster_mean(train_data)

In [31]:
# train Îç∞Ïù¥ÌÑ∞ÏôÄ test Îç∞Ïù¥ÌÑ∞ÏóêÏÑú Í≤πÏπòÏßÄ ÏïäÎäî ÏïÑÏù¥ÌÖú(ÏòÅÌôî) Î•º Ï†úÍ±∞ÌïúÎã§.

def miss_matching(mean_data, test_data):

    for c in mean_data.columns:
        if c not in test_data.columns:
            del mean_data[c]
        
    for c in test_data.columns[:-1]:
        if c not in mean_data.columns:
            del test_data[c]

    return mean_data, test_data

pred_data, test_data =  miss_matching(mean_rating,test_data)

In [37]:
# top k Î•º ÎΩëÏùÑ Îïå
pred_data[0:1].sort_values(by=0,axis=1, ascending=False)

,1175,1367,850,853,1449,169,408,318,64,12,...,1189,1306,1307,1316,1318,1334,1354,1361,1470,1500
0,5.0,5.0,5.0,4.666667,4.666667,4.546875,4.508475,4.473373,4.411392,4.409091,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
print(f'ÏòàÏ∏°Îêú ÌÅ¥Îü¨Ïä§ÌÑ∞ÎßÅ Î≥Ñ item ÌèâÏ†êÍ≥º ÏòàÏ∏°Ìï† test itemÏùÄ \n{pred_data.shape}, {test_data.shape} Î°ú ÎèôÏùºÌï¥Ï°åÎã§.')

ÏòàÏ∏°Îêú ÌÅ¥Îü¨Ïä§ÌÑ∞ÎßÅ Î≥Ñ item ÌèâÏ†êÍ≥º ÏòàÏ∏°Ìï† test itemÏùÄ
(6, 1378), (459, 1379) Î°ú ÎèôÏùºÌï¥Ï°åÎã§.

In [16]:
#ndcg Í∞íÏùÑ Íµ¨ÌïòÍ∏∞ ÏúÑÌï¥ Ï∂îÏ≤úÎêòÏßÄ ÏïäÏùÄ ÏïÑÏù¥ÌÖúÎì§ÏùÄ 0Ï†êÏùÑ Ï§ÄÎã§.

pred_data = pred_data.fillna(0, downcast='infer')
test_data = test_data.fillna(0, downcast='infer')

- test Îç∞Ïù¥ÌÑ∞Ïùò ÎßàÏßÄÎßâ Ïó¥ÏùÄ clustering number ÏùÑ ÏùòÎØ∏ÌïúÎã§

- ÏπºÎüºÏùÄ 1682 ÍπåÏßÄ ÏûàÏßÄÎßå ÏïÑÎ¨¥ ÌÅ¥Îü¨Ïä§ÌÑ∞ÎèÑ Î≥¥ÏßÄ ÏïäÏïòÎçò ÌñâÏùÄ ÏûêÎèôÏúºÎ°ú Ï†úÍ±∞ÎêúÎã§.

Ìï¥Îãπ Îç∞Ïù¥ÌÑ∞Î•º ÌÜµÌï¥ ÌÅ¥Îü¨Ïä§ÌÑ∞ÎßàÎã§ Í∞ÄÏû• ÎÜíÏùÄ Î≥ÑÏ†ê top 5Î•º Ï∂îÏ≤úÌï¥Ï§ÄÎã§.

In [17]:
from sklearn.metrics import ndcg_score

def get_NDCG(pred_data, test_data, num=6):

    #Í∞Å ÌÅ¥Îü¨Ïä§ÌÑ∞ Î≥Ñ Í≤∞Í≥º
    result = [0]*num

    #Í∞Å ÌÅ¥Îü¨Ïä§ÌÑ∞ Î≥Ñ Ïù∏ÏõêÏàò
    length = list(test_data.cluster.value_counts().sort_index())

    for idx in test_data.index:

        # -1 Ìï¥Îãπ user Ïùò Í∑∏Î£πÏùÑ ÌôïÏù∏
        cluster_num = int(test_data.loc[idx].cluster) 
        
        # -2 train ÏóêÏÑúÏùò ÏòàÏ∏°ÏπòÏôÄ test Îç∞Ïù¥ÌÑ∞ Í∞Ñ Í∞Å user Î≥Ñ ÌèâÏ†ê NDCG Í∞í Í≥ÑÏÇ∞
        result[cluster_num] += ndcg_score([test_data.loc[idx][:-1]], [pred_data.loc[cluster_num]], k=10)

        # ndcg Îäî ÏÉÅÏúÑ kÏùò Í≤ÉÏùÑ ÎåÄÏÉÅÏúºÎ°ú Ï†êÏàòÎ•º Îß§Í∏∏ Ïàò ÏûàÎã§.
        #result[cluster] += ndcg_score([user_item_test_cl.loc[idx][:-1]], [mean_rating.loc[cluster]], k=4)

    ## 5. ÏµúÏ¢ÖÏ†ÅÏúºÎ°ú Í∞Å nDCGÍ∞í / Í∞Å clusterÏùò ÏöîÏÜå Í∞úÏàò
    for i in range(6):
        # ÌÅ¥Îü¨Ïä§ÌÑ∞ Î≥Ñ Ïú†Ï†Ä NDCG Ïùò ÌèâÍ∑†
        result[i] = result[i]/length[i]

    print(f"cluster Ïàò : {len(length)}\ncluster Î≥Ñ Ïù∏Ïõê Ïàò : {length}")
    print(f"Ï¥ù NDCG : {(sum(result)/len(length)):.4f} \n\n ")

get_NDCG(pred_data, test_data)

cluster Ïàò : 6
cluster Î≥Ñ Ïù∏Ïõê Ïàò : [16, 78, 48, 2, 10, 305]
Ï¥ù NDCG : 0.0170

In [18]:
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score

# precision & recall
def get_pre_rec(pred_data, test_data):


    # 1. Ï†ÑÏ≤òÎ¶¨
    # ÌèâÏ†êÏù¥ 2.5 Ïù¥ÏÉÅÏù¥Î©¥ Ï†ïÎãµ, ÏïÑÎãå Í≤ÉÏùÄ Ïò§ÎãµÏúºÎ°ú ÌèâÍ∞ÄÌïòÏòÄÎã§.
    pred_data[pred_data < 2.5]= 0
    pred_data[pred_data >= 2.5]= 1

    # test Îç∞Ïù¥ÌÑ∞ Ïó¥ÏóêÎäî cluster Ï†ïÎ≥¥Í∞Ä ÏûàÍ∏∞ ÎïåÎ¨∏Ïóê Î∞±ÏóÖÌïòÎäî ÏûëÏóÖÏùÑ Í±∞ÏπúÎã§.
    test_data_cluster = test_data[['cluster']].copy()
    test_data[test_data < 2.5] = 0
    test_data[test_data >= 2.5] = 1
    test_data[['cluster']] = test_data_cluster


    # 2. pre rec Í≥ÑÏÇ∞
    pre_result = [0]*6 # Í≤∞Í≥ºÍ∞í Ï†ÄÏû• Î¶¨Ïä§Ìä∏
    rec_result = [0]*6

    length = list(test_data.cluster.value_counts().sort_index())

    ## 4. Í∞Å Í≤∞Í≥º Í∞íÏóê precision, recallÎçîÌï¥Ï§å
    for idx in test_data.index:
        cluster_num = int(test_data.loc[idx].cluster)
        pre_result[cluster_num] += precision_score(list(test_data.loc[idx][:-1].values) ,list(pred_data.loc[cluster_num].values ), average = 'binary')
        rec_result[cluster_num] += recall_score(list(test_data.loc[idx][:-1].values) ,list(pred_data.loc[cluster_num].values ), average = 'binary')

    for i in range(6):
        # ÌÅ¥Îü¨Ïä§ÌÑ∞ Î≥Ñ Ïú†Ï†Ä PRE/REC Ïùò ÌèâÍ∑†
        pre_result[i] = pre_result[i]/length[i]
        rec_result[i] = rec_result[i]/length[i]

    print(f"cluster Ïàò : {len(length)}\ncluster Î≥Ñ Ïù∏Ïõê Ïàò : {length}")
    print(f"Presicion : {(sum(pre_result)/len(length)):.4f}")
    print(f"recall : {(sum(rec_result)/len(length)):.4f}")

In [19]:
get_pre_rec(pred_data, test_data)

cluster Ïàò : 6
cluster Î≥Ñ Ïù∏Ïõê Ïàò : [16, 78, 48, 2, 10, 305]
Presicion : 0.0352
recall : 0.7440

In [20]:
### top k Í∞ú ÎßåÌÅº Í≤ÄÏÇ¨

from collections import defaultdict


def precision_recall_at_k(predictions, k=10, threshold=3.5):
    """Return precision and recall at k metrics for each user"""

    # First map the predictions to each user.
    user_est_true = defaultdict(list)
    for uid, _, true_r, est, _ in predictions:
        user_est_true[uid].append((est, true_r))

    precisions = dict()
    recalls = dict()
    for uid, user_ratings in user_est_true.items():

        # Sort user ratings by estimated value
        user_ratings.sort(key=lambda x: x[0], reverse=True)

        # Number of relevant items
        n_rel = sum((true_r >= threshold) for (_, true_r) in user_ratings)

        # Number of recommended items in top k
        n_rec_k = sum((est >= threshold) for (est, _) in user_ratings[:k])

        # Number of relevant and recommended items in top k
        n_rel_and_rec_k = sum(
            ((true_r >= threshold) and (est >= threshold))
            for (est, true_r) in user_ratings[:k]
        )

        # Precision@K: Proportion of recommended items that are relevant
        # When n_rec_k is 0, Precision is undefined. We here set it to 0.

        precisions[uid] = n_rel_and_rec_k / n_rec_k if n_rec_k != 0 else 0

        # Recall@K: Proportion of relevant items that are recommended
        # When n_rel is 0, Recall is undefined. We here set it to 0.

        recalls[uid] = n_rel_and_rec_k / n_rel if n_rel != 0 else 0

    return precisions, recalls

## 2. Least Misery Î•º ÌÜµÌïú Ï∂îÏ≤ú

In [21]:
train_data, test_data = clustering(6, preprocessed_rating, user_train, user_test)

#Í∞Å ÌÅ¥Îü¨Ïä§ÌÑ∞ Îãπ Ïù∏ÏõêÏàò
train_data['cluster'].value_counts().sort_index()

0    632
1     19
2     27
3      2
4    106
5    156
Name: cluster, dtype: int64

In [22]:
def cluster_LM(train_data):
    #train Îç∞Ïù¥ÌÑ∞Î•º ÌÅ¥Îü¨Ïä§ÌÑ∞ÎßÅÏúºÎ°ú index Ï≤òÎ¶¨
    
    mean_rating = pd.DataFrame(columns = train_data.columns)
    mean_rating.set_index('cluster')
    mean_rating

    num = 6

    # ÌÅ¥Îü¨Ïä§ÌÑ∞ Î≥Ñ ÏÇ¨Ïö©ÏûêÎì§Ïùò ÏòÅÌôî ÌèâÍ∑† Î≥ÑÏ†ê ÎèÑÏ∂ú (ÏïÑÎ¨¥ÎèÑ Î≥¥ÏßÄ ÏïäÏùÄ Í≤ÉÏùÄ NanÍ∞í Ï≤òÎ¶¨ ÎêúÎã§.)
    for i in range(num):
        mean_rating = mean_rating.append(train_data[train_data.cluster == i].min(axis=0), ignore_index=True) 

    return mean_rating.drop(['cluster'], axis=1)

LM_rating = cluster_LM(train_data)

In [23]:
pred_data, test_data =  miss_matching(LM_rating,test_data)

In [24]:
pred_data = pred_data.fillna(0)
test_data = test_data.fillna(0)

In [25]:
get_NDCG(pred_data, test_data)

cluster Ïàò : 6
cluster Î≥Ñ Ïù∏Ïõê Ïàò : [305, 10, 16, 2, 48, 78]
Ï¥ù NDCG : 0.0124

In [26]:
get_pre_rec(pred_data, test_data)

cluster Ïàò : 6
cluster Î≥Ñ Ïù∏Ïõê Ïàò : [305, 10, 16, 2, 48, 78]
Presicion : 0.0254
recall : 0.2533

---

ÏùºÎã® Ìñâ Í∏∞Ï§ÄÏúºÎ°ú Ïò§Î¶ÑÏ∞®Ïàú Ï†ïÎ†¨Ìïú Îã§ÏùåÏóê, ÏïûÏóê ÏûàÎäî 10Í∞úÏùò column Î≤àÌò∏Î•º Í∞ÄÏ†∏ÏôÄÏÑú Ï∂îÏ≤úÌï¥Ï§ÄÎã§.

-> 10Í∞úÏùò Ïª¨ÎüºÏùÑ Í∞ÄÏ†∏Ïò®Îã§.

### ÌäπÌûà, Average Îì† LM Îì†

ÏÉÅÏúÑ 10Í∞úÍ∞Ä ÌåêÎã®Ïù¥ ÎêòÏóàÏúºÎ©¥ Í∑∏ 10Í∞úÏùò ÏïÑÏù¥ÌÖúÏùÑ Í∞ÄÏßÄÍ≥† Îã§Ïãú 5Í∞úÎ•º Ï∂îÎ†§ÎÇºÍ±¥Îç∞, Í∑∏ Îïå Í≤åÏûÑÏù¥Î°†ÏùÑ Í∞ÄÏ†∏Ïò®Îã§.


ÌÅ¥Îü¨Ïä§ÌÑ∞ ÎÇ¥Î∂ÄÏóêÏÑú ÏûÑÏùòÏùò Îëê Î™Ö. ÏûÑÏùòÏùò ÏïÑÏù¥ÌÖú Îëê Í∞úÎ•º ÎΩëÎäîÎã§. 

Í∞Å ÌîåÎ†àÏù¥Ïñ¥Í∞Ä 1,2 Î≤à ÏïÑÏù¥ÌÖúÏùÑ Í≥†Î•ºÏßÄ ÎßêÏßÄÎ•º ÏÑ†ÌÉùÌïòÍ≥† ÏµúÏ†ÅÏùò Ï†ÑÎûµÏùÑ Ï∞æÎäîÎã§.

1,2, 12(ÎëêÍ∞ú Îã§ÏÑ†ÌÉù) Ï§ë Ïñ¥Îñ§ Í≤ÉÏù¥ 

Í∞ÄÏû• ÌÅ∞ Ìö®Ïú®ÏùÑ ÎÇ¥ÎäîÏßÄ Ï∞æÏïÑÎÇ∏Îã§.

Í∞Å ÌÅ¥Îü¨Ïä§ÌÑ∞ Ïù∏ÏõêÏùò 10Î∂ÑÏùò 1ÎßåÌÅº Ï†ÑÎûµÏùÑ Ï∞æÏïÑÏÑú Ïπ¥Ïö¥ÌåÖÏùÑ ÌïúÎã§.

1,2, 12 Ï§ë ÌïòÎÇòÎ•º Í≥†Î•∏Îã§.

---
(12) Í∞Ä Í∞ÄÏû• ÎßéÏù¥ Í≥®ÎùºÏ°åÎã§Í≥† Í∞ÄÏ†ïÌñàÏùÑÎïå,

12, 3, 123Î≤àÏùÑ Í≥†Î•ºÏßÄ ÎßêÏßÄ ÏÑ†ÌÉùÌïòÎäî Ï†ÑÎûµÏùÑ Ï∞æÏïÑÏÑú Ïπ¥Ïö¥ÌåÖÏùÑ ÌïúÎã§.
---
Î∞òÎ≥µÌïòÎã§Î≥¥Î©¥

Í±∏Îü¨ÎÇ¥Ïïº Ìï† Í≤ÉÏùÑ Ï∞æÏùÑ Ïàò ÏûàÎã§. 10Í∞ú Ï§ë 12678 Ï≤òÎüº ÏïÑÏù¥ÌÖúÏù¥ Îã§Ïãú Ï∂îÎ†§Ïßà Í≤ÉÏù¥Îã§.

Ïù¥Í≤ÉÏù¥ 10Í∞úÏ§ë ÏÉÅÏúÑ 5Í∞úÎ≥¥Îã§ Ïù¥ÏÉÅÏ†ÅÏù∏ÏßÄÎ•º Ï≤¥ÌÅ¨ÌïúÎã§.

In [27]:
#LM_rating.iloc[0]
LM_rating.iloc

In [29]:
LM_rating[0:1].sort_values(by=0, axis=1)

,1,755,756,758,759,760,761,762,763,764,...,1189,1306,1307,1316,1318,1334,1354,1361,1470,1500
0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN